<i18n>
{
  "fr": {
    "field-disciplines": "discipline",
    "field-tutelles": "tutelles",
    "field-tags": "Labels",
    "field-sort": "Trier par",
    "sort:update:desc": "Les plus récentes",
    "sort:update:asc": "Les plus anciennes",
    "field-status": "Status",
    "status:nostatus": "Indifférent",
    "status:running": "En cours",
    "status:ended": "Terminée",
    "status:abandoned": "Abandonnée",
    "filter": "Filtrer",
    "search-tags": "Rechercher parmi les labels",
    "text-labs": "laboratoires",
    "load-more": "Charger plus",
    "select-disciplines": "Choisir la discipline...",
    "info-enlarge": "Agrandir",
    "info-reduce": "Réduire",
    "nActionsTotal": "Actions",
    "nActionsDisplayed": "Actions affichées",
    "tooltip-nActionsDisplayed": "Vous pouvez charger plus d'actions en allant en bas de la page",
    "nLaboratories": "Laboratoires"
  },
  "en": {}
}
</i18n>

<template>
  <section class="hero is-default is-bold">
    <serveur-info :erreur="erreur" />
    <div class="hero-body">
      <div class="container is-fluid">
        <div class="columns">
          <div class="column">
            <b-notification :closable="false">
              <div class="level-item has-text-centered">
                <div>
                  <p class="heading">
                    {{ $t('nActionsTotal') }}
                  </p>
                  <div class="title is-size-2">
                    <p>{{ count }}</p>
                  </div>
                </div>
              </div>
            </b-notification>
          </div>

          <div class="column">
            <b-notification :closable="false">
              <div class="level-item has-text-centered">
                <div>
                  <b-tooltip
                    :active="displayedItems.length < count"
                    type="is-dark"
                    :label="$t('tooltip-nActionsDisplayed')"
                    multilined
                    append-to-body
                  >
                    <p class="heading">
                      {{ $t('nActionsDisplayed') }}
                      <b-icon
                        v-if="displayedItems.length < count"
                        size="is-small"
                        icon="info-circle"
                      ></b-icon>
                    </p>
                  </b-tooltip>
                  <div class="title is-size-2">
                    <p>{{ displayedItems.length }}</p>
                  </div>
                </div>
              </div>
            </b-notification>
          </div>

          <div class="column">
            <b-notification :closable="false">
              <div class="level-item has-text-centered">
                <div>
                  <p class="heading">
                    {{ $t('nLaboratories') }}
                  </p>
                  <div class="title is-size-2">
                    <p>{{ nLaboratories }}</p>
                  </div>
                </div>
              </div>
            </b-notification>
          </div>
        </div>
        <hr />

        <section class="sidebar-layout">
          <b-notification :closable="false" @click="toggleFullscreen">
            <a href="#">
              <span v-if="fullscreen">
                <b-icon icon="expand" size="is-medium" type="is-black">
                </b-icon>
                {{ $t('info-enlarge') }}
              </span>
              <span v-else>
                <b-icon icon="compress" size="is-medium" type="is-black">
                </b-icon>
                {{ $t('info-reduce') }}
              </span>
            </a>
          </b-notification>
          <b-notification :closable="false">
            <b-collapse :open="false" aria-id="contentIdForA11y1">
              <template #trigger="props">
                <b-icon icon="filter" size="is-medium" type="is-black" />
                {{ $t('filter') }}
                <b-icon :icon="props.open ? 'caret-down' : 'caret-up'">
                </b-icon>
              </template>
              <br />
              <map-filters @filtered="filtered"></map-filters>
            </b-collapse>
          </b-notification>
          <hr />

          <div class="tile is-ancestor">
            <div
              :class="`tile is-parent is-vertical ${columnSize}`"
              v-for="idx in nbColumn"
              :key="`column-${idx}`"
            >
              <div
                class="tile is-child"
                v-for="(action, index) in partition[idx - 1]"
                :key="`card-${index}`"
              >
                <card-action
                  :item="action"
                  @hover="itemOnMouseOver"
                  @open="itemOnClick"
                  @on-click-file="clickFile"
                >
                </card-action>
              </div>
            </div>
          </div>

          <hr />
          <center>
            <b-button
              :disabled="displayedItems.length >= count"
              rounded
              size="is-small"
              @click="loadMore"
              >{{ $t('load-more') }} ({{ displayedItems.length }} / {{ count }})
            </b-button>
          </center>
          <hr />
        </section>
      </div>
    </div>
  </section>
</template>

<script>
import '@riophae/vue-treeselect/dist/vue-treeselect.css'

import { BackendFilter } from '@/mixins/backendfilter.js'

export default {
  name: 'TableItems',
  components: {
    'map-filters': () => import('./MapFilters.vue'),
    'serveur-info': () => import('@/components/ServeurInfo.vue'),
    'card-action': () => import('@/components/transition/maps/CardAction.vue')
  },
  mixins: [BackendFilter],
  data: function () {
    return {
      erreur: '',
      loading: true,
      filters: {
        sort: 'sort:update:desc'
      }
    }
  },
  computed: {
    partition () {
      let total = this.displayedItems.length

      let partition = []

      for (let i = 0; i < this.nbColumn; i++) {
        let idx = i * Math.floor(total / this.nbColumn)
        let nextIdx = (i + 1) * Math.floor(total / this.nbColumn)
        partition.push([idx, nextIdx])
      }
      // account for the reminder
      let r = 0
      for (let k = 0; k < partition.length - 1; k++) {
        if (r < total % this.nbColumn) {
          r += 1
        }
        // adjust
        partition[k][1] = partition[k][1] + r
        partition[k + 1][0] = partition[k + 1][0] + r
      }
      partition[this.nbColumn - 1][1] = total
      let slices = []
      for (let p of partition) {
        slices.push(this.displayedItems.slice(p[0], p[1]))
      }
      return slices
    },
    nLaboratories () {
      return _.uniq(this.displayedItems.map((d) => d.laboratory.id)).length
    },
    nbColumn () {
      if (!this.fullscreen) {
        return 5
      }
      return 2
    },
    columnSize: function () {
      let css = 12 / this.nbColumn
      return `is-${css}`
    },
    style: function () {
      let height = 600
      if (!this.fullscreen) {
        height = 800
      }
      let style = `z-index: 0; height: ${height}px;`
      return style
    }
  },
  methods: {
    afterFilterAll () {},
    toggleFullscreen () {
      if (this.fullscreen) {
        /** we're in reduced format so make it fullscreen */

        this.$router.push({
          name: 'transition-1point5-actions-map-fullscreen'
        })
      } else {
        /** we're in fullscreen so make it reduced */
        this.$router.push({
          name: 'transition-1point5-named',
          params: { named: 'transition-maps' }
        })
      }
    }
  }
}
</script>
