<i18n>
{
  "fr": {
    "info-1": "<a class='link' target='_blank' href='https://genci.fr/'>GENCI</a> (Grand Equipement National de Calcul Intensif) est une très grande infrastructure de recherche de classe IR* qui finance des ressources nationales de calcul qui sont hébergées et opérées dans <strong>trois centres de calcul</strong> : le <strong>CINES</strong> (France Universités), l'<strong>IDRIS</strong> (CNRS) et le <strong>TGCC</strong> (CEA)."
  },
  "en": {
    "info-1": "TODO"
  }
}
</i18n>

<template>
  <div class="columns is-flex is-vcentered">
    <div class="column">
      <b-notification :closable="false">
        <span v-html="$t('info-1')" />
      </b-notification>
    </div>
    <div class="column is-2">
      <img src="@/components/carbon/forms/ractivities/components/gencicomputingfacilities/image.png">
    </div>
  </div>
</template>

<script>
export default {
  name: 'CardHelp'
}
</script>
