<i18n>
{
  "fr": {
    "title": "Remerciements",
    "text-1": "Nous remercions vivement les personnes qui ont contribué à l’élaboration et/ou aux tests de <em>Transition 1point5</em>"
  },
  "en": {}
}
</i18n>

<template>
  <div>
    <su-service :icon="'thumbs-o-up'">
      <template #title>
        {{ $t('title') }}
      </template>
      <span v-html="$t('text-1')" />
    </su-service>
  </div>
</template>

<script>
export default {
  name: 'Thanks',
  components: {
    'su-service': () => import('@/components/SUService.vue')
  }
}
</script>

<style lang="css" scoped>
.bcthanks {
  list-style-type: square;
  margin-left: 25px;
}
.bcthanks > li {
  padding-top: 5px;
}
</style>
