<i18n>
{
  "fr": {
    "text-1": "Lorsque des véhicules sont mutualisés entre plusieurs entités (laboratoires, universités ou autres), chaque entité prend « sa part » des km parcourus, soit sur une base comptable si vous avez les dépenses réelles, soit avec une estimation « à la louche » de l'emprunt par chaque entité des véhicules (en nb de jours sur l'année par ex).<br/> Il convient de se mettre d’accord entre entités sur la répartition des km afin d'éviter d’éventuels doubles comptages ou omissions."
  },
  "en": {
    "text-1": "When vehicles are shared between several entities (laboratories, universities or others), each entity takes \"its share\" of the kilometres travelled, either on an accounting basis if you have the actual expenses, or with a rough estimate of the number of days each entity uses the vehicles (e.g., number of days per year).<br/> It is advisable to agree between entities on the distribution of km in order to avoid possible double counting or omissions."
  }
}
</i18n>

<template>
  <p v-html="$t('text-1')" />
</template>

<script>
export default {
  name: 'HelpManual'
}
</script>
