<i18n>
{
  "fr": {
    "footprint": "Empreinte",
    "footprint-desc1": "<em>Labos 1point5</em> mène une étude scientifique nationale relative à l’<strong>empreinte carbone</strong> de la <strong>recherche publique française</strong> pour nourrir la réflexion sur les leviers d'actions permettant de réduire son impact sur le climat et l'environnement.",
    "footprint-desc2": "Pour cela,",
    "footprint-desc3": "permet d'estimer une empreinte carbone et",
    "footprint-desc4": "permet d'imaginer des futures possibles.",
    "scenario-1point5": "Scénario 1point5",
    "nghgi": "#bilans GES",
    "nscenario": "#scénarios",
    "nlaboratories": "#laboratoires",
    "transition.nactions": "#actions publiées",
    "transition.nlaboratories": "#laboratoires",
    "labos-1point5": "Le collectif",
    "labos-1point5-description": "<em>Labos 1point5</em> est un collectif de membres du monde académique, de toutes disciplines et sur tout le territoire, partageant un objectif commun : mieux comprendre et <strong>réduire l'impact des activités de recherche scientifique sur l'environnement</strong>, en particulier sur <strong>le climat</strong>. <br /><br /> Ses activités sont organisées au sein d’un <a class='link' target='_blank' href='https://labos1point5.org/le-gdr'><strong>groupement de recherche</strong></a> (GDR) et d'une <a class='link' target='_blank' href='https://labos1point5.org/reflexion'><strong>équipe de réflexion</strong></a>.<div style='margin-top:40px'></div>",
    "the-answer": "La réponse en",
    "points": "points",
    "why-ges": "Pourquoi utiliser GES 1point5 ?",
    "why-scenario": "Pourquoi utiliser Scénario 1point5 ?",
    "why-transition": "Pourquoi utiliser Transition 1point5 ?",
    "transition": "Transition",
    "transition-description": "Ce réseau permet aux laboratoires de recherche de toutes disciplines et dans toute la France de décrire les actions qu'ils mènent pour la <strong>réduction durable de leur empreinte environnementale</strong>. Il permet aussi aux observateurs de l'ESR d'explorer ces actions pour s'en inspirer.",
    "transition-subdescription": ", une communauté qui se met en mouvement."
  },
  "en": {
    "footprint": "Footprint",
    "footprint-desc1": "<em>Labos 1point5</em> launches a national scientific study on the <strong>carbon footprint</strong> of the <strong>French public research</strong> to provide food for thought on the levers of action to reduce its impact on the climate and the environment.",
    "footprint-desc2": "For this purpose,",
    "footprint-desc3": "can be used to estimate a carbon footprint and",
    "footprint-desc4": "can be used to imagine possible futures.",
    "scenario-1point5": "Scenario 1point5",
    "nghgi": "#GHG inventories",
    "nscenario": "#scenarios",
    "nlaboratories": "#laboratories",
    "transition.nactions": "#published actions",
    "transition.nlaboratories": "#laboratories",
    "labos-1point5": "The collective",
    "labos-1point5-description": "<div style='margin-top:30px' /><em>Labos 1point5</em> is an international, cross-disciplinary collective of academic researchers who share a common goal: to better understand and <strong>reduce the environmental impact of research</strong>, especially on the Earth’s <strong>climate</strong>. <br /><br /> Its activities are organized within a <a class='link' target='_blank' href='https://labos1point5.org/le-gdr'><strong>research group</strong></a> and a <a class='link' target='_blank' href='https://labos1point5.org/reflexion'><strong>think tank</strong></a>.<div style='margin-top:44px' />",
    "the-answer": "The answer in",
    "points": "points",
    "why-ges": "Why use GES 1point5 ?",
    "why-scenario": "Why use Scenario 1point5 ?",
    "why-transition": "Why use Transition 1point5 ?"
  }
}
</i18n>

<template>
  <div class="home">
    <section class="section is-small" style="padding-bottom:0">
      <div class="container">
        <div class="content-wrapper" style="margin-top:-260px">
          <div class="columns">
            <div class="column is-one-third">
              <div class="boxicon is-bordered has-text-centered boxicon-home" data-animation="fadeInLeft">
                <div class="bicon">
                  <router-link class="link" :to="{ name: 'ges-1point5' }"><b-icon icon="thermometer-4"></b-icon></router-link>
                </div>
                <h4>{{ $t('footprint') }}</h4>
                <p class="has-text-centered" style="margin-bottom:10px">
                  <span v-html="$t('footprint-desc1')"> </span>
                  <br />
                  {{ $t('footprint-desc2') }}
                  <a class="link" @click="displayWhyGES=true"><strong>GES 1point5</strong></a>
                  {{ $t('footprint-desc3') }}
                  <a class="link" @click="displayWhyScenario=true"><strong>{{ $t('scenario-1point5') }}</strong></a>
                  {{ $t('footprint-desc4') }}
                  <nav class="level" style="margin-top:20px">
                    <div class="level-item has-text-centered">
                      <div>
                        <p class="heading">{{ $t('nghgi') }}</p>
                        <p class="title">
                          <template v-if="!isLoading">{{ nGHGI }}</template>
                          <b-skeleton height="26px" width="50px" :active="isLoading"></b-skeleton>
                        </p>
                      </div>
                    </div>
                    <div class="level-item has-text-centered">
                      <div>
                        <p class="heading">{{ $t('nscenario') }}</p>
                        <p class="title">
                          <template v-if="!isLoading">{{ nScenario }}</template>
                          <b-skeleton height="26px" width="50px" :active="isLoading"></b-skeleton>
                        </p>
                      </div>
                    </div>
                    <div class="level-item has-text-centered">
                      <div>
                        <p class="heading">{{ $t('nlaboratories') }}</p>
                        <p class="title">
                          <template v-if="!isLoading">{{ nLaboratory }}</template>
                          <b-skeleton height="26px" width="50px" :active="isLoading"></b-skeleton>
                        </p>
                      </div>
                    </div>
                  </nav>
                </p>
              </div>
            </div>
            <div class="column is-one-third">
              <div class="boxicon is-bordered has-text-centered boxicon-home" data-animation="fadeInLeft">
                <div class="bicon">
                  <a target="_blank" href="https://labos1point5.org" class="link">
                    <div style="z-index:1;margin-top:-40px;margin-left:-37px;background-color: rgb(255, 255, 255); position: relative; padding: 5px; border-radius: 100%; vertical-align: middle; display: inline-grid;">
                      <img src="../assets/LogoRond_BlancPourEcran.png" style="max-width: 90px; border-radius: 50%; background-color: rgba(52, 59, 64, 1);">
                    </div>
                  </a>
                </div>
                <h4>{{ $t('labos-1point5') }}</h4>
                <p class="has-text-centered" style="margin-bottom:10px">
                  <span v-html="$t('labos-1point5-description')"> </span>
                </p>
              </div>
            </div>
            <div class="column is-one-third">
              <div class="boxicon is-bordered has-text-centered boxicon-home" data-animation="fadeInLeft">
                <div class="bicon">
                  <router-link class="link" :to="{ name: 'transition-1point5' }"><b-icon icon="lightbulb-o"></b-icon></router-link>
                </div>
                <h4>{{ $t('transition') }}</h4>
                <p class="has-text-centered" style="margin-bottom:10px">
                  <span v-html="$t('transition-description')"> </span>
                  <br/>
                  <strong>
                  <a class="link" @click="displayWhyTransition=true">Transition 1point5</a>{{ $t('transition-subdescription') }}
                  </strong>

                  <nav class="level" style="margin-top:20px">
                    <div class="level-item has-text-centered">
                      <div>
                        <p class="heading">{{ $t('transition.nactions') }}</p>
                        <p class="title">
                          <template v-if="!isLoading">{{ transition.nActions }}</template>
                          <b-skeleton height="26px" width="50px" :active="isLoading"></b-skeleton>
                        </p>
                      </div>
                    </div>
                    <div class="level-item has-text-centered">
                      <div>
                        <p class="heading">{{ $t('transition.nlaboratories') }}</p>
                        <p class="title">
                          <template v-if="!isLoading">{{ transition.nLaboratories }}</template>
                          <b-skeleton height="26px" width="50px" :active="isLoading"></b-skeleton>
                        </p>
                      </div>
                    </div>
                  </nav>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <b-modal
      :active.sync="displayWhyGES"
      has-modal-card
      :width="1000"
    >
      <div class="modal-card" style="width: 1000px;">
        <header class="modal-card-head">
          <p class="modal-card-title">
            {{ $t('why-ges') }}
          </p>
        </header>
        <section class="modal-card-body">
          <why-ges-1point5 />
        </section>
      </div>
    </b-modal>
    <b-modal
      :active.sync="displayWhyScenario"
      has-modal-card
      :width="1000"
    >
      <div class="modal-card" style="width: 1000px;">
        <header class="modal-card-head">
          <p class="modal-card-title">
            {{ $t('why-scenario') }}
          </p>
        </header>
        <section class="modal-card-body">
          <why-scenario-1point5 />
        </section>
      </div>
    </b-modal>

    <b-modal
      :active.sync="displayWhyTransition"
      has-modal-card
      :width="1000"
    >
      <div class="modal-card" style="width: 1000px;">
        <header class="modal-card-head">
          <p class="modal-card-title">
            {{ $t('why-transition') }}
          </p>
        </header>
        <section class="modal-card-body">
          <why-transition-1point5 />
        </section>
      </div>
    </b-modal>
  </div>
</template>

<script>
import carbonService from '@/services/carbonService'

export default {
  name: 'home',
  components: {
    'why-ges-1point5': () => import('@/components/carbon/docs/WhyGES1point5.vue'),
    'why-scenario-1point5': () => import('@/components/scenario/docs/WhyScenario1point5.vue'),
    'why-transition-1point5': () => import('@/components/transition/docs/Why.vue')
  },
  data () {
    return {
      displayWhyGES: false,
      displayWhyScenario: false,
      displayWhyTransition: false,
      isLoading: false,
      nLaboratory: 0,
      nGHGI: 0,
      nScenario: 0,
      transition: {
        nActions: 0,
        nLaboratories: 0
      }
    }
  },
  mounted () {
    this.isLoading = true
    carbonService.getCounts()
      .then(data => {
        this.isLoading = false
        this.nGHGI = data.nGHGI
        this.nScenario = data.nScenario
        this.nLaboratory = data.nLaboratory
        this.transition = data.transition
      })
      .catch((erreur) => {
        this.isLoading = false
      })
  }
}
</script>

<style>
.tabs.is-toggle li.is-active a {
  background-color:  rgba(83, 135, 175, 0.1);
  border-color: rgb(66, 128, 176);
}
.b-skeleton-item {
  margin: auto
}
</style>
