<i18n>
{
  "fr": {
    "title-members": "Les membres des équipes du collectif <em>Labos 1point5</em> :",
    "members-li-1": "Sont membres ou anciens membres de la communauté de l’enseignement supérieur et de la recherche qu’il ou elles soient, personnel administratif, chargé·e·s de mission, technicien·ne·s, ingénieur·e·s, chercheur·se·s, enseignant·e·s-chercheur·se·s, étudiant·e·s et stagiaires qui le souhaitent, quel que soit leur statut.",
    "members-li-2": "Ne tolèrent aucun propos discriminant (au sens de <a class='link' href='https://www.legifrance.gouv.fr/affichCodeArticle.do?idArticle=LEGIARTI000033461473&cidTexte=LEGITEXT000006070719&dateTexte=20161120'>l’article 225-1 du code pénal</a>), révisionniste, négationniste ou climato-sceptique et s’engagent à travailler dans le respect des autres membres.",
    "members-li-3": "S’engagent à contribuer, au niveau qui leur convient, aux travaux du collectif.",
    "title-collective": "Le collectif <em>Labos 1point5</em> :",
    "collective-li-1": "Est indépendant et s’interdit de recevoir des financements ou aide de toute nature de la part de partis politiques ou d’organisations à caractère confessionnel, français ou étrangers, ainsi que de fonds abrités dans des paradis fiscaux ou provenant d’activités incompatibles avec les valeurs portées par l’association.",
    "collective-li-2": "Reste libre du contenu de ses projets et publications, y compris de ceux soutenus financièrement, en totalité ou en partie par des partenaires.",
    "collective-li-3": "Déclare de façon transparente ses sources de financement, et demande à ses membres de déclarer leurs conflits  d’intérêts potentiel lorsqu’ils·elles agissent ou communiquent oralement ou par écrit en leur qualité de membre.",
    "text-1": "L’utilisation du nom, du logo ou de tout élément impliquant l’image de Labos 1point5 est soumise à l’autorisation préalable du collectif.",
    "text-2": "Labos 1point5 s’engage à partager ses textes et vidéos provenant de son activité sous licence creative common <a class='link' href='https://creativecommons.org/licenses/by-nc-sa/2.0/fr/'>CC-BY-NC-SA</a>, et les applications et codes informatiques sous <a class='link' href='https://www.gnu.org/licenses/gpl-3.0.html'>licence GPL</a>."
  },
  "en": {
    "title-members": "Members of the <em>Labos 1point5</em> teams:",
    "members-li-1": "Are members or former members of the higher education and research community, be they administrative staff, project managers, technicians, engineers, researchers, teacher-researchers, students and trainees who wish to do so, whatever their status.",
    "members-li-2": "Do not tolerate any discriminatory (within the meaning of <a class='link' href='https://www.legifrance.gouv.fr/affichCodeArticle.do?idArticle=LEGIARTI000033461473&cidTexte=LEGITEXT000006070719&dateTexte=20161120'>Article 225-1 of the French Penal Code</a>), revisionist, negationist or climate-sceptic comments and undertake to work in respect of other members.",
    "members-li-3": "Commit themselves to contribute, at their own level, to the work of the collective.",
    "title-collective": "The collective <em>Labos 1point5</em>:",
    "collective-li-1": "Is independent and refrains from receiving funding or assistance of any kind from political parties or organisations of a religious nature, whether French or foreign, as well as from funds sheltered in tax havens or from activities incompatible with the values promoted by the association.",
    "collective-li-2": "Remains free of the content of its projects and publications, including those supported financially, in whole or in part, by partners.",
    "collective-li-3": "Transparently declares its sources of funding, and asks its members to declare potential conflicts of interest when acting or communicating orally or in writing in their capacity as members.",
    "text-1": "The use of the name, logo or any other element involving the image of Labos 1point5 is subject to prior authorisation by the collective.",
    "text-2": "Labos 1point5 commits itself to share its texts and videos from its activity under the creative common license <a class='link' href='https://creativecommons.org/licenses/by-nc-sa/2.0/'>CC-BY-NC-SA</a>, and the applications and computer codes under the <a class='link' href='https://www.gnu.org/licenses/gpl-3.0.html'>GPL license</a>."
  }
}
</i18n>

<template>
  <section class="hero is-default is-bold">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-8 is-offset-2">
            <h2 v-html="$t('title-members')" />
            <br />
            <b-notification :closable="false">
              <ul style="list-style-type:square;margin-left:25px">
                <li style="text-align: justify;">
                  {{ $t('members-li-1') }}
                </li>
                <li style="text-align: justify;">
                  <span v-html="$t('members-li-2')" />
                </li>
                <li style="text-align: justify;">
                  {{ $t('members-li-3') }}
                </li>
              </ul>
            </b-notification>
            <br />
            <h2 v-html="$t('title-collective')" />
            <br />
            <b-notification :closable="false">
              <ul style="list-style-type:square;margin-left:25px">
                <li style="text-align: justify;">
                  {{ $t('collective-li-1') }}
                </li>
                <li style="text-align: justify;">
                  {{ $t('collective-li-2') }}
                </li>
                <li style="text-align: justify;">
                  {{ $t('collective-li-3') }}
                </li>
              </ul>
            </b-notification>
            <br />
            <b-notification :closable="false">
              {{ $t('text-1') }}
              <br />
              <span v-html="$t('text-2')" />
            </b-notification>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'Labos1point5Charter'
}
</script>

<style scoped>
  h2 {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #aaaaaa;
    font-family: 'Poppins', sans-serif;
  }
  h2::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #6c8fd6;
    margin: 4px 10px;
  }
</style>
