<i18n>
{
  "fr": {
    "title-1": "L'équipe <em>Scénario 1point5</em>",
    "title-1": "Gestion du projet",
    "title-2": "Équipe de développement",
    "desc-1": "Définition des mesures",
    "desc-2": "Documentation",
    "desc-3": "Administration système",
    "desc-4": "Traduction anglaise"
  },
  "en": {
    "title-1": "The team <em>Scenario 1point5</em>",
    "title-1": "Project management",
    "title-2": "Development team",
    "desc-1": "Définition des mesures",
    "desc-2": "Documentation",
    "desc-3": "System Administration",
    "desc-4": "English translation"
  }
}
</i18n>

<template>
  <div>
    <su-service :icon="'joomla'">
      <template #title>
        {{ $t('title-1') }}
      </template>
      <p>
        <ul class="bcteam">
          <li>Olivier Aumont : <em>IRD, Paris</em></li>
          <li>Jérôme Mariette : <em>INRAE, Toulouse</em></li>
        </ul>
       </p>
    </su-service>
    <br />
    <su-service :icon="'cogs'">
      <template #title>
        {{ $t('title-2') }}
      </template>
      <p>
        <ul class="bcteam">
          <li>Samuel Calvet : <em>IN2P3, Clérmont-Ferrand</em> ({{ $t('desc-1') }}, {{ $t('desc-2') }})</li>
          <li>Catherine Gourdon : <em>Sorbonne Université, Paris</em> ({{ $t('desc-1') }}, {{ $t('desc-2') }})</li>
          <li>Laurent Pagani : <em>CNRS, Paris</em> ({{ $t('desc-1') }}, {{ $t('desc-2') }})</li>
          <li>Gérald Salin : <em>INRAE, Toulouse</em> ({{ $t('desc-3') }})</li>
          <li>Bernard Schéou : <em>Université de Perpignan, Perpignan</em> ({{ $t('desc-1') }}, {{ $t('desc-2') }})</li>
          <li>Sophie Servan : <em>DESY, Hambourg</em> ({{ $t('desc-4') }})</li>
          <li>Aurélie Taguet : <em>Ecole des Mines d'Alès, Alès</em> ({{ $t('desc-1') }}, {{ $t('desc-2') }})</li>
        </ul>
       </p>
    </su-service>
  </div>
</template>

<script>
export default {
  name: 'Team',
  components: {
    'su-service': () => import('@/components/SUService.vue')
  }
}
</script>

<style lang="css" scoped>
  .bcteam {
    list-style-type:square;
    margin-left:25px
  }
  .bcteam > li {
    padding-top: 5px;
  }
</style>
