<i18n>
{
  "fr": {
    "text-1": "<small style='color: #d14d65;'>Pour </small><strong style='color: #d14d65;'>impliquer</strong> <small style='color: #d14d65;'> directement les personnels des laboratoires.</small><br />L’utilisation de <em>Scénario 1point5</em> permet d’impliquer directement et activement les personnels des laboratoires, en leur permettant de tester une mesure ou un ensemble de mesures de réduction grâce à la visualisation instantanée des effets sur le BGES de leur laboratoire.",
    "text-2": "<small style='color: #8a4869;'>Pour </small><strong style='color: #8a4869;'>imaginer</strong> <small style='color: #8a4869;'> des futures possibles.</small><br />En testant différents scénarios, on peut déterminer les principaux leviers sur lesquels appuyer pour améliorer le BGES du laboratoire et imaginer comment orienter les façons de travailler pour un maximum d’effets sur le BGES et un minimum d’impact sur la qualité des travaux du laboratoire.",
    "text-3": "<small style='color: #5f548d;'>Pour </small><strong style='color: #5f548d;'>s’approprier</strong> <small style='color: #5f548d;'> la transition.</small><br /> Permettre aux agents de tester différents scénarios aide le personnel à la fois à s'approprier les enjeux de la transition ainsi que les politiques qui seront mises en œuvre à la suite de cet exercice de scénarisation.",
    "text-4": "<small style='color: #3b589f;'>Pour </small><strong style='color: #3b589f;'>échanger</strong> <small style='color: #3b589f;'> sur des futurs alternatifs.</small> <br /> L’utilisation de <em>Scénario 1point5</em> permet d’élaborer différents scénarios alternatifs de réduction grâce à des choix de mesures et de dosage différents. Ces différents scénarios et leurs effets en termes de réduction sont une opportunité pour les personnels d’échanger collectivement sur les futurs possibles de son laboratoire.",
    "text-5": "<small style='color: #0d7eb6;'>Pour </small><strong style='color: #0d7eb6;'>tenir compte</strong> <small style='color: #0d7eb6;'> des spécificités de son laboratoire.</small> <br /> L’utilisation de <em>Scénario 1point5</em> permet de tester sur le bilan GES de leur laboratoire les différentes actions qui permettront de réduire les émissions de GES tout en impactant a minima le cœur d'activité de leur laboratoire et en tenant compte des modes de fonctionnement et de décisions du laboratoire."
  },
  "en": {
    "text-1": "<small style='color: #d14d65;'>To </small><strong style='color: #d14d65;'>actively involve</strong> <small style='color: #d14d65;'> laboratory personnel.</small><br />The use of <em>Scenario 1point5</em> enables laboratory personnel to actively and directly test a measure or set of reduction measures through instant visualisation of their effects on the laboratory's GHG inventory.",
    "text-2": "<small style='color: #8a4869;'>To </small><strong style='color: #8a4869;'>imagine</strong> <small style='color: #8a4869;'> possible futures.</small><br />By testing different scenarios, we can identify the main levers on which to focus in order to improve the laboratory's GHG inventory, and imagine how to orient work methods for maximum impact on GHG emissions and minimum impact on the laboratory's work quality.",
    "text-3": "<small style='color: #5f548d;'>To </small><strong style='color: #5f548d;'>take ownership</strong> <small style='color: #5f548d;'> of the transition.</small><br />Allowing staff to test different scenarios helps them take ownership of the transition challenges and of the policies that will be implemented following this scenario exercise.",
    "text-4": "<small style='color: #3b589f;'>To </small><strong style='color: #3b589f;'>exchange ideas</strong> <small style='color: #3b589f;'> about alternative futures.</small> <br />The use of <em>Scenario 1point5</em> makes it possible to develop different alternative reduction scenarios through different choices of measures and dosages. These different scenarios and their reduction effects are an opportunity for personnel to collectively exchange ideas about the possible futures of their laboratory.",
    "text-5": "<small style='color: #0d7eb6;'>To </small><strong style='color: #0d7eb6;'>take into account</strong> <small style='color: #0d7eb6;'> the specificities of their laboratory.</small> <br />The use of <em>Scenario 1point5</em> enables laboratory personnel to test on their GHG balance sheet the different actions that will reduce GHG emissions while minimally impacting the core activity of their laboratory and taking into account the laboratory's modes of operation and decision-making."
  }
}
</i18n>

<template>
  <div>
    <article class="media">
      <figure class="media-left">
        <p class="image is-64x64">
          <i class="fa fa-object-group" style="font-size: 62px; color:#d14d65;"></i>
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <p style="text-align: justify;" v-html="$t('text-1')" />
        </div>
      </div>
    </article>
    <article class="media">
      <figure class="media-left">
        <p class="image is-64x64">
          <i class="fa fa-puzzle-piece" style="font-size: 50px; color:#8a4869;"></i>
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <p style="text-align: justify;" v-html="$t('text-2')" />
        </div>
      </div>
    </article>
    <article class="media">
      <figure class="media-left">
        <p class="image is-64x64">
          <i class="fa fa-podcast" style="font-size: 62px; color:#5f548d;"></i>
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <p style="text-align: justify;" v-html="$t('text-3')" />
        </div>
      </div>
    </article>
    <article class="media">
      <figure class="media-left">
        <p class="image is-64x64">
          <i class="fa fa-hubzilla" style="font-size: 52px; color:#3b589f;"></i>
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <p style="text-align: justify;" v-html="$t('text-4')" />
        </div>
      </div>
    </article>
    <article class="media">
      <figure class="media-left">
        <p class="image is-64x64">
          <i class="fa fa-tags" style="font-size: 62px; color:#0d7eb6;"></i>
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <p style="text-align: justify;" v-html="$t('text-5')" />
        </div>
      </div>
    </article>
    <br />
  </div>
</template>

<script>
export default {
  name: 'WhyScenario1point5'
}
</script>

<style lang="css">
article {
  border: 0px;
}
</style>
