<i18n>
{
  "fr": {
    "text-1": "<strong>Infrastructures de recherche</strong><br /> Pour les infrastructures de recherche, veuillez vous reporter aux factures ...",
    "text-2": "<strong>Autres activités de recherche</strong><br /> Pour toutes autres activités de recherche, ..."
  },
  "en": {
    "text-1": "TODO"
  }
}
</i18n>

<template>
  <div>
    <p>
      <span v-html="$t('text-1')" />
    </p>
    <br />
    <p>
      <span v-html="$t('text-2')" />
    </p>
  </div>
</template>

<script>
export default {
  name: 'HelpManual'
}
</script>
