{% extends 'base.html' %}

{% block content %}

{% if validlink %}
<div class="box-blue">
    Votre compte a été <strong>activé avec succès</strong> !
    <br />
    Vous pouvez maintenant vous connecter à votre compte avec votre mot de passe.
</div>
{% else %}
<div class="box-blue">
    <strong>Lien invalide !</strong>
    <br />
    Le lien d'activation de compte est invalide, sûrement car il a expiré.
  </div>
{% endif %}

{% endblock %}
