<template>
  <div>
    <su-service :icon="'times'" :type="'error'" v-if="erreur">
      <template #title>
        Erreur
      </template>
      <p>
        L'erreur suivante est survenue sur le serveur pendant le traitement de votre demande :
        <ul style="list-style-type:square;margin-left:25px">
          <li>« {{ erreur }} »</li>
        </ul>
        Si ce problème persiste, veuillez <router-link class="link" to="/">nous contacter</router-link>.
      </p>
    </su-service>
    <br v-if="erreur"/>
  </div>
</template>

<script>
import SUService from '@/components/SUService.vue'

export default {
  name: 'ServeurInfo',
  props: {
    erreur: {
      type: String,
      default: ''
    }
  },
  components: {
    'su-service': SUService
  }
}
</script>
