<i18n>
{
  "fr": {
    "title": "L'alimentation",
    "info-1": "Les émissions de l'alimentation sont évaluées à l'aide d'un formulaire configuré spécifiquement pour votre laboratoire. Ce formulaire peut être utilisé seul ou combiné avec celui du module « Déplacements domicile/travail ».",
    "info-2": "Les émissions de l'alimentation sont évaluées à l'aide d'un formulaire nécessitant d'envoyer un lien à vos collègues. Celui-ci étant spécifique à un BGES, il nécessite une connexion à une base de données et est donc indisponible dans la version non authentifiée de <em>GES 1point5</em>.",
    "info-3": "Vous pouvez cependant ajouter et modifier des déplacements domicile / travail directement avec l'interface.",
    "field-1": "Réponse au questionnaire"
  },
  "en": {
    "title": "Food",
    "info-1": "Foods emissions are estimated through a survey specifically customized for your laboratory. This form can be used on its own or in combination with the « Commute » module.",
    "info-2": " The emissions from commuting are estimated through a survey sent to your colleagues via a web link. As the link is customized for every laboratory, a connection to a database is required. The link is thus unavailable in the unauthenticated version of  <em>GES 1point5</em>.",
    "info-3": "You can though add and make changes to commutes directly in the interface.",
    "field-1": "Response to the survey"
  }
}
</i18n>

<template>
  <div>
    <serveur-info :erreur="error" />
    <su-service
      v-if="authStore.isAuthenticated"
      :icon="icon"
    >
      <template #title>
        {{ $t('title') }}
      </template>
      {{ $t('info-1') }}
    </su-service>
    <su-service
      v-else
      :icon="icon"
    >
      <template #title>
        {{ $t('title') }}
      </template>
      <span v-html="$t('info-2')"></span>
      <br />
      <br />
      {{ $t('info-3') }}
    </su-service>
    <br v-if="authStore.isAuthenticated"/>

    <survey-config
      v-if="authStore.isAuthenticated"
    />
    <br v-if="!authStore.isAuthenticated"/>
    <covid-information :year="year"/>
    <br v-if="year === 2020 || year === 2021"/>

    <statistics-box :isCommute="false"/>

    <food-table
      :year="year"
    />

    <br />
    <nav class="level">
      <div class="level-left"></div>
      <div class="level-right">
        <div class="buttons">
          <b-button
            v-if="!authStore.isAuthenticated"
            :disabled="submitted"
            class="button"
            icon-left="plus"
            @click="displayAddForm"
          >
            {{ $t('add') }}
          </b-button>
          <b-button
            v-if="authStore.isAuthenticated"
            class="level-item"
            icon-left="download"
            @click="exportFoods"
          >
            {{ $t('export') }}
          </b-button>
        </div>
      </div>
    </nav>

    <b-modal
      :active.sync="displayModal"
      has-modal-card
      :can-cancel="['escape', 'x', 'outside']"
      :width="1000"
    >
      <div class="modal-card" style="width: 1000px;">
        <header class="modal-card-head">
          <p class="modal-card-title">
            {{ $t('field-1') }}
          </p>
        </header>
        <section class="modal-card-body">
          <survey-form
            v-show="!surveySubmitted && !foodSubmitted"
            v-model="food"
            :isSurvey="false"
            :year="year"
            :totalStep="totalStep"
            @submit="submitSurvey"
          />
          <food-form
          v-show="surveySubmitted && !foodSubmitted"
            v-model="food"
            :isSurvey="false"
            :startStep="3"
            :totalStep="totalStep"
            :year="year"
            :isSimulation="false"
            @submit="add"
            @back="surveySubmitted = false"
          />
        </section>
      </div>
    </b-modal>
  </div>
</template>

<script>
import Modules from '@/models/Modules.js'
import Food from '@/models/carbon/Food.js'
import { createExportFile } from '@/utils/files'
import { useAdminStore } from '@/stores/admin.js'
import { useAuthenticationStore } from '@/stores/authentication.js'
import { useGHGIStore } from '@/stores/ghgi.js'

export default {
  name: 'Main',
  components: {
    'su-service': () => import('@/components/SUService.vue'),
    'serveur-info': () => import('@/components/ServeurInfo.vue'),
    'statistics-box': () => import('@/components/carbon/forms/survey/StatisticsBox.vue'),
    'food-table': () => import('@/components/carbon/forms/foods/Table.vue'),
    'survey-form': () => import('@/components/carbon/forms/survey/Form.vue'),
    'food-form': () => import('@/components/carbon/forms/foods/Form.vue'),
    'survey-config': () => import('@/components/carbon/forms/survey/SurveyConfig.vue'),
    'covid-information': () => import('@/components/carbon/forms/survey/CovidInformation.vue')

  },
  $_veeValidate: {
    validator: 'new'
  },
  props: {
    module: {
      type: Object
    }
  },
  data () {
    return {
      error: '',
      food: Food.createEmpty(),
      displayModal: false,
      surveySubmitted: false,
      foodSubmitted: false,
      icon: Modules.getIcon(Modules.FOODS)
    }
  },
  setup () {
    const adminStore = useAdminStore()
    const authStore = useAuthenticationStore()
    const ghgiStore = useGHGIStore()
    return { adminStore, authStore, ghgiStore }
  },
  computed: {
    foods: function () {
      return this.ghgiStore.items(Modules.FOODS)
    },
    year: function () {
      return this.ghgiStore.item.year
    },
    submitted: function () {
      return this.ghgiStore.item.submitted.foods
    },
    totalStep: function () {
      if (this.food.nWorkingDay === 0) {
        return 2
      } else {
        return 4
      }
    }
  },
  methods: {
    submitSurvey: function () {
      if (this.food.nWorkingDay === 0) {
        this.add()
      } else {
        this.surveySubmitted = true
      }
    },
    add: function () {
      this.food = Food.createFromObj(this.food)
      this.food.clean()
      this.ghgiStore.addItem({
        module: Modules.FOODS,
        item: this.food
      })
      this.displayModal = false
      this.surveySubmitted = false
      this.foodSubmitted = false
      this.food = Food.createEmpty()
      this.$emit('is-modified', true)
    },
    displayAddForm: function () {
      let seqID = this.foods.length + 1
      this.food = Food.createEmpty()
      this.food.seqID = 'u' + seqID
      this.displayModal = true
    },
    exportFoods: function () {
      this.ghgiStore.compute()
      let content = Food.exportToFile(this.foods)
      createExportFile(content, 'ghgi' + this.year + '_foods')
    }
  }
}
</script>
