<i18n>
{
  "fr": {
    "title": "Editeur de scénario",
    "info-1": "Un scénario permet d’<strong>explorer</strong> un futur possible en vue d’<strong>éclairer les décisions et les actions</strong> à mettre en œuvre. Un bon scénario doit être pertinant, cohérent, vraisemblable, transparent et utile pour aider à la décision. <br /><br /> Vous pouvez définir votre scénario en ajoutant un ensemble de mesures accessible depuis le bouton « Ajouter une mesure ». Une fois une mesure ajoutée, vous pouvez faire varier sa valeur d'application ainsi que filtrer les elements sur lesquels appliquer la mesure en cliquant sur <i class='fa fa-filter is-size-5'></i> si celui-ci est disponible. <br /> À titre d'exemple, si vous ajoutez la mesure « Remplacer l'avion », vous pourrez spécifier non seulement la distance seuil pour laquelle l'avion est remplacée par le train, mais aussi définir un statut et/ou un motif pour le(s)quel(s) la mesure est applicable si ces informations ont été fournies lors de l'import des missions du BGES de référence.",
    "label-1": "Nom du scénario",
    "label-2": "Année de référence",
    "label-3": "Réduction",
    "label-4": "Ajouter une mesure",
    "save-msg": "Les informations du scénario ont été sauvegardées avec <strong><span style='color:green;'>succès</span></strong>."
  },
  "en": {
    "title": "Scenario builder",
    "info-1": "A scenario allows to <strong>explore</strong> a possible future in order to <strong>inform decisions and actions</strong> to be taken. A good scenario must be relevant, coherent, plausible, transparent and useful in helping decision-making. <br /><br /> You can define your scenario by adding a set of measures accessible from the « Add a measure » button. Once a measure is added, you can vary its application value and filter the elements on which the measure is applied by clicking on <i class='fa fa-filter is-size-5'></i> if available. <br /> As an example, if you add the « Replace plane » measure, you can specify not only the threshold distance for which the plane is replaced by the train, but also define a status and/or a reason for which the measure is applicable if this information was provided during the import of the reference GHG emissions.",
    "label-1": "Scenario name",
    "label-2": "Reference year",
    "label-3": "Reduction",
    "label-4": "Add a measure",
    "save-msg": "The data relating to the scenario have been <strong><span style='color:green;'>successfully</span></strong>saved."
  }
}
</i18n>

<template>
  <div>
    <su-service :icon="'crosshairs'">
      <template #title>
        {{ $t('title') }}
      </template>
      <p>
        <span v-html="$t('info-1')" />
      </p>
    </su-service>
    <br />
    <div class="columns">
      <div class="column is-4">
        <b-notification :closable="false">
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">
                {{ scenario.ghgi.year }}
              </p>
              <div class="title is-size-4">
                <p>
                  {{ totalGHGI | splitNumberTons }}
                  <span class="is-size-6">{{ $t('t.co2e') }}</span>
                </p>
              </div>
            </div>
          </div>
        </b-notification>
        <b-carousel
          v-if="ghgi"
          v-model="carouselValue"
          :autoplay="false"
          indicator-style="is-lines"
          :indicator-inside="true"
        >
          <b-carousel-item>
            <ghgi-pie
              :height="250"
              :enabledLabels="false"
              :ghgi="ghgi"
              titleSize="14px"
              :exporting="false"
              :modules="modules"
              :colors="colors"
            />
          </b-carousel-item>
          <b-carousel-item>
            <ghgi-bar
              :height="250"
              :enabledLabels="false"
              :ghgi="ghgi"
              :exporting="false"
              :modules="modules"
              :colors="colors"
            />
          </b-carousel-item>
        </b-carousel>
      </div>
      <div class="column is-4">
        <b-notification :closable="false">
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">
                {{ scenario.timeline }}
              </p>
              <div class="title is-size-4">
                <p>
                  {{ totalScenario | splitNumberTons }}
                  <span class="is-size-6">{{ $t('t.co2e') }}</span>
                </p>
              </div>
            </div>
          </div>
        </b-notification>
        <b-carousel
          v-if="scenario"
          v-model="carouselValue"
          :autoplay="false"
          indicator-style="is-lines"
          :indicator-inside="true"
        >
          <b-carousel-item>
            <ghgi-pie
              :height="250"
              :enabledLabels="false"
              :results="scenario.ghgi.emissions"
              :ghgi="scenario.ghgi"
              titleSize="14px"
              :exporting="false"
              :modules="modules"
              :colors="colors"
            />
          </b-carousel-item>
          <b-carousel-item>
            <ghgi-bar
              :height="250"
              :enabledLabels="false"
              :results="scenario.ghgi.emissions"
              :ghgi="scenario.ghgi"
              :exporting="false"
              :modules="modules"
              :colors="colors"
            />
          </b-carousel-item>
        </b-carousel>
      </div>
      <div class="column is-4">
        <b-notification :closable="false">
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">
                {{ $t('label-3') }}
              </p>
              <div class="title is-size-4">
                <p>
                  {{ reductionRate }} %
                </p>
              </div>
            </div>
          </div>
        </b-notification>
        <b-carousel
          :autoplay="false"
          indicator-style="is-lines"
          :indicator-inside="true"
        >
          <b-carousel-item>
            <scenario-area
              :height="250"
              :ghgi="ghgi"
              :scenario="scenario"
              :exporting="false"
              :modules="modules"
              :colors="colors"
            />
          </b-carousel-item>
          <b-carousel-item>
            <scenario-pie
              :height="250"
              :ghgi="ghgi"
              titleSize="14px"
              :scenario="scenario"
              :exporting="false"
              :modules="modules"
              :colors="colors"
            />
          </b-carousel-item>
        </b-carousel>
      </div>
    </div>
    <!-- <draggable
      v-model="scenario.rules"
      @end="dragEnd"
      draggable=".rule"
    >
      <transition-group
        tag="div"
        class="columns is-multiline"
      >
        <div
          class="column rule is-4"
          v-for="rule in scenario.rules"
          :key="rule.id"
        >
          <rule
            :data="rule"
            :ghgi="ghgi"
            @input="compute"
            @close="removeRule"
            @update-level1="updateLevel1"
            @change-level1="changeLevel1"
            @update-level2="updateLevel2"
            @reset-level2="resetLevel2"
          />
        </div>
        <div
          class="column is-4"
          key="add-btn"
        >
          <label
            class="upload control is-expanded"
            @click="rulesModalActive=true"
          >
            <div class="upload-draggable is-info is-expanded">
              <section class="section rule-section">
                <div class="content has-text-centered">
                  <p>
                    <span class="icon">
                      <i class="fa fa-plus" style="font-size: 36px;"></i>
                    </span>
                  </p>
                  <p>{{ $t('label-4') }}</p>
                </div>
              </section>
            </div>
          </label>
        </div>
      </transition-group>
    </draggable> -->
    <div
      class="columns is-multiline"
    >
      <div
        class="column mt-3 is-4"
        key="add-btn"
      >
        <label
          class="upload control is-expanded"
          @click="rulesModalActive=true"
        >
          <div class="upload-draggable is-info is-expanded">
            <section class="section rule-section">
              <div class="content has-text-centered">
                <p>
                  <span class="icon">
                    <i class="fa fa-plus" style="font-size: 36px;"></i>
                  </span>
                </p>
                <p>{{ $t('label-4') }}</p>
              </div>
            </section>
          </div>
        </label>
      </div>
      <div
        class="column mt-3 rule is-4"
        v-for="rule in scenario.rules"
        :key="rule.id"
      >
        <rule
          :data="rule"
          :ghgi="ghgi"
          @input="compute"
          @close="removeRule"
          @update-level1="updateLevel1"
          @change-level1="changeLevel1"
          @update-level2="updateLevel2"
          @reset-level2="resetLevel2"
        />
      </div>
      <rules-selector-modal
        @add="addRule"
        @close="rulesModalActive=false"
        :active.sync="rulesModalActive"
        :ghgi="ghgi"
        :scenario="scenario"
      />
    </div>
    <nav class="level" v-if="authStore.isAuthenticated && editable">
      <div class="level-left"></div>
      <div class="level-right">
        <div class="buttons">
          <b-button
            class="level-item"
            icon-left="save"
            :disabled="!module.isModified"
            type="is-primary"
            @click="save"
          >
            {{ $t('save') }}
          </b-button>
        </div>
      </div>
    </nav>
  </div>
</template>

<script>
import { useAdminStore } from '@/stores/admin.js'
import { useAuthenticationStore } from '@/stores/authentication.js'
import { useScenarioStore } from '@/stores/scenario.js'
import { useCoreStore } from '@/stores/core.js'

export default {
  name: 'ScenarioEditor',
  props: {
    module: {
      type: Object,
      default: null
    },
    editable: {
      type: Boolean,
      default: true
    }
  },
  components: {
    'rule': () => import('@/components/scenario/Rule.vue'),
    'su-service': () => import('@/components/SUService.vue'),
    'scenario-area': () => import('@/components/graphics/ScenarioArea.vue'),
    'scenario-pie': () => import('@/components/graphics/ScenarioPie.vue'),
    'ghgi-pie': () => import('@/components/graphics/GHGIPie.vue'),
    'ghgi-bar': () => import('@/components/graphics/GHGIBar.vue'),
    // 'draggable': () => import('vuedraggable'),
    'rules-selector-modal': () => import('@/components/scenario/RulesSelectorModal.vue')
  },
  data () {
    return {
      selectedYear: null,
      rulesModalActive: false,
      carouselValue: 0
    }
  },
  setup () {
    const adminStore = useAdminStore()
    const authStore = useAuthenticationStore()
    const scenarioStore = useScenarioStore()
    const coreStore = useCoreStore()
    return { adminStore, authStore, scenarioStore, coreStore }
  },
  computed: {
    modules: function () {
      return this.coreStore.activeModules(true)
    },
    colors: function () {
      return this.coreStore.modulesColors
    },
    scenario: function () {
      return this.scenarioStore.item
    },
    ghgi: function () {
      return this.adminStore.allGHGI.filter(obj => obj.year === this.scenario.ghgi.year)[0]
    },
    totalGHGI: function () {
      let totalGHGI = 0
      if (this.ghgi) {
        totalGHGI = this.ghgi.synthesis.intensity
      }
      return Math.round(totalGHGI)
    },
    totalScenario: function () {
      let totalScenario = 0
      if (this.scenario) {
        if (this.scenario.ghgi.emissions) {
          for (let key of Object.keys(this.scenario.ghgi.emissions)) {
            totalScenario += this.scenario.ghgi.emissions[key].intensity.intensity
          }
        }
      }
      return totalScenario
    },
    reductionRate: function () {
      return Math.round((100 - (this.totalScenario * 100 / this.totalGHGI)) * 10) / 10
    }
  },
  methods: {
    inputChanged () {
      this.$emit('is-valid', false)
      this.$emit('is-modified', true)
    },
    addRule (rule) {
      this.scenarioStore.addRule(rule)
      this.rulesModalActive = false
      this.compute(rule.module)
      this.inputChanged()
    },
    removeRule (rule) {
      this.scenarioStore.removeRule(rule)
      this.compute(rule.module)
      this.inputChanged()
    },
    dragEnd () {
      this.compute()
      this.inputChanged()
    },
    save () {
      const loadingComponent = this.$buefy.loading.open({
        container: null
      })
      this.scenarioStore.save(this.ghgi.id)
        .then((response) => {
          loadingComponent.close()
          window.scrollTo(0, 0)
          this.$buefy.toast.open({
            type: 'is-light',
            message: this.$t('save-msg')
          })
          this.$emit('is-valid', true)
          this.$emit('is-modified', false)
          this.$router.push('/scenario-1point5/' + response.uuid).catch(() => {})
        })
        .catch((erreur) => {
          loadingComponent.close()
          this.$emit('is-valid', false)
          this.$emit('is-modified', false)
        })
    },
    updateLevel1 (data) {
      this.scenarioStore.updateLevel1(data)
      this.compute(data.module)
    },
    changeLevel1 () {
      this.inputChanged()
    },
    updateLevel2 (data) {
      this.scenarioStore.updateLevel2(data)
      this.compute(data.module)
      this.inputChanged()
    },
    resetLevel2 (data) {
      this.scenarioStore.resetLevel2(data)
      this.compute(data.module)
      this.inputChanged()
    },
    compute (module = null) {
      this.scenarioStore.compute(module)
    }
  },
  mounted () {
    if (this.scenario.rules.length === 0) {
      this.$emit('is-valid', false)
      this.$emit('is-modified', false)
    }
    if (!this.authStore.isAuthenticated) {
      this.scenarioStore.setGHGI(this.adminStore.allGHGI[0])
    }
  }
}
</script>

<style scoped>
.upload .upload-draggable.is-expanded {
  height: 153px;
}
.notification.is-heatings {
  background-color: rgba(200, 72, 150, .1) !important;
}
.notification.is-electricity {
  background-color: rgba(232, 139, 195, .1) !important;
}
.notification.is-refrigerants {
  background-color: rgba(253, 194, 229, .1) !important;
}
.notification.is-vehicles {
  background-color: rgba(253, 142, 98, .1) !important;
}
.notification.is-travels {
  background-color: rgba(103, 195, 165, .1) !important;
}
.notification.is-commutes {
  background-color: rgba(142, 160, 204, .1) !important;
}
.notification.is-foods {
  background-color: #fbf7ef !important;
}
.notification.is-devices {
  background-color: rgba(166, 217, 83, .1) !important;
}
.notification.is-purchases {
  background-color: rgba(255, 218, 44, .1) !important;
}
.rule-section {
  padding: 27px;
}
</style>
