<i18n>
{
  "fr": {
    "field-1": "Statut de l'enquête",
    "field-2": "#Réponses",
    "field-3": "Taux de réponse",
    "field-4": "#Extrême(s)",
    "field-5": "#Anomalie(s)",
    "field-6": "Détection d'anomalie",
    "field-7": "Détection de réponses extrêmes",
    "field-8": "Actif",
    "field-9": "Inactif",
    "field-10": "Indispo.",
    "field-11": "Cloné",
    "field-12": "Tx restauration",
    "info-1": "Les",
    "info-2": "réponses extrêmes",
    "info-3": "présentées en rouge sont détectées à partir des distances journalières parcourues par individu tous modes de déplacement confondus. Merci d'inspecter les réponses de l'enquête.",
    "info-4": "Les réponses extrêmes sont ici définies comme étant toute valeur située à l'extérieur de l'intervalle <em>[q1-3x(q3-q1) ; q3+3x(q3-q1)]</em>, où <em>q1</em> et <em>q3</em> sont le premier et troisième quartiles et <em>(q3-q1)</em> l'intervalle interquartile.",
    "info-5": "Aucune réponse extrême n'a été détectée. Cependant, <strong>au moins une valeur tire la moyenne vers le haut</strong> par rapport à la médiane (2nd coefficient d'asymétrie de Pearson =",
    "info-6": "Merci d'inspecter les réponses de l'enquête.",
    "info-7": "Aucune réponse extrême ainsi qu'aucune asymétrie dans les données n'ont été détectés (2nd coefficient d'asymétrie de Pearson =",
    "info-8": "La réponse extrême présentée en rouge est détectée à partir des distances journalières parcourues par individu tous modes de déplacement confondus. Merci d'inspecter les réponses de l'enquête.",
    "warning-msg-1": "Le nombre d'ITA répondant au questionnaire est supérieur au nombre d'ITA déclaré dans le laboratoire.",
    "warning-msg-2": "Le nombre de Docs. / post-docs. répondant au questionnaire est supérieur au nombre de Docs. / post-docs. déclaré dans le laboratoire.",
    "warning-msg-3": "Le nombre de Chercheurs / Enseignants-ch. répondant au questionnaire est supérieur au nombre de Chercheurs / Enseignants-ch. déclaré dans le laboratoire."
  },
  "en": {
    "field-1": "Survey status",
    "field-2": "#Response",
    "field-3": "Response rate",
    "field-4": "#Outlier(s)",
    "field-5": "#Anomalies",
    "field-6": "Anomaly detection",
    "field-7": "Outlier detection",
    "field-8": "Active",
    "field-9": "Inactive",
    "field-10": "Unavail.",
    "field-11": "Cloned",
    "field-12": "Catering rate",
    "info-1": "The",
    "info-2": "outliers",
    "info-3": "presented in red are detected from the daily distances traveled per person, considering all modes of transportation. Please check the survey responses.",
    "info-4": "Outliers are defined as any value outside the range <em>[q1-3x(q3-q1) ; q3+3x(q3-q1)]</em>, where <em>q1</em> and <em>q3</em> are the first and third quartiles and <em>(q3-q1)</em> the interquartile range.",
    "info-5": "No outlier has been detected. Still, <strong>at least one value pushes the mean upwards</strong> relative to the median (Pearson's second coefficient of skewness =",
    "info-6": "Please check the survey responses.",
    "info-7": "No outlier nor any data asymmetry has been detected (Pearson's second coefficient of skewness =",
    "info-8": "The outlier presented in red is detected from the daily distances traveled per person, considering all modes of transportation. Please check the survey responses.",
    "warning-msg-1": "The number of engineers, technicians, assistant engineers, and research support staff that have answered the survey is greater than the number of engineers, technicians, assistant engineers, and research support staff declared in the laboratory.",
    "warning-msg-2": "The number of PhD students and postdocs that have answered the survey is greater than the number of PhD students and postdocs declared in the laboratory.",
    "warning-msg-3": "The number of researchers and professors that have answered the survey is greater than the number of researchers and professorts declared in the laboratory."
  }
}
</i18n>

<template>
  <div class="columns">
    <div class="column">
      <b-notification
        :type="statusNotificationType"
        :closable="false"
      >
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">
              {{ $t('field-1') }}
            </p>
            <div class="title is-size-2">
              <p v-if="surveyActive">
                <i class="fa fa-check-circle" style="padding-right: 10px; font-size: 28px;"></i>
                <span class="is-size-4">{{ $t('field-8') }}</span>
              </p>
              <p v-else-if="isClonedSurvey">
                <i class="fa fa-clone" style="padding-right: 10px; font-size: 28px;"></i>
                <span class="is-size-4">{{ $t('field-11') }}</span>
              </p>
              <p v-else>
                <i class="fa fa-times-circle" style="padding-right: 10px; font-size: 28px;"></i>
                <span v-if="authStore.isAuthenticated" class="is-size-4">{{ $t('field-9') }}</span>
                <span v-else class="is-size-4">{{ $t('field-10') }}</span>
              </p>
            </div>
          </div>
        </div>
      </b-notification>
    </div>
    <div class="column">
      <b-notification :closable="false">
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">
              {{ $t('field-2') }}
            </p>
            <div class="title is-size-2">
              <p>
                {{ nAnswers }}
              </p>
            </div>
          </div>
        </div>
      </b-notification>
    </div>
    <div class="column">
      <b-notification :closable="false">
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">
              {{ $t('field-3') }}
            </p>
            <div class="title is-size-2">
              <p>
                {{ answerRate }}
                <span class="is-size-4">%</span>
              </p>
            </div>
          </div>
        </div>
      </b-notification>
    </div>
    <div v-if="isCommute" class="column">
      <b-notification :closable="false">
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">
              {{ $t('field-4') }}
            </p>
            <div class="title is-size-2">
              <p>
                <span v-if="nCommutes < 3">-</span>
                <a
                  v-else-if="(nCommutes - nValidCommutes) > 0"
                  @click="displayOutliersModal = true"
                  class="link"
                >
                  {{ nCommutes - nValidCommutes }}
                </a>
                <a
                  v-else-if="isAsymetric()"
                  @click="displayOutliersModal = true"
                  class="link"
                >
                  ≥1
                </a>
                <a
                  v-else
                  @click="displayOutliersModal = true"
                  class="link"
                >
                  {{ nCommutes - nValidCommutes }}
                </a>
              </p>
            </div>
          </div>
        </div>
      </b-notification>
    </div>
    <div v-else class="column">
      <b-notification :closable="false">
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">
              {{ $t('field-12') }}
            </p>
            <div class="title is-size-2">
              <p>
                <span>{{ cateringRate }} %</span>
              </p>
            </div>
          </div>
        </div>
      </b-notification>
    </div>
    <div v-if="warnings.length>0" class="column">
      <b-notification
        :class="{ 'warning-box': true }"
        type="is-danger"
        :closable="false"
      >
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">
              {{ $t('field-5') }}
            </p>
            <div class="title is-size-2">
              <p>
                <a @click="displayWarnings = true" class="link">{{ warnings.length }}</a>
              </p>
            </div>
          </div>
        </div>
      </b-notification>
    </div>

    <b-modal
      :active.sync="displayWarnings"
      has-modal-card
      :width="800"
    >
      <div class="modal-card" style="width: 800px;">
        <header class="modal-card-head">
          <p class="modal-card-title">
            {{ $t('field-6') }}
          </p>
        </header>
        <section class="modal-card-body">
          <b-notification
            :closable="false"
            :has-icon="true"
            icon="warning"
          >
            <ul style="list-style-type:square;margin-left:25px">
              <li v-for="(warning,index) in warnings" :key="index">
                {{ warning }}
              </li>
            </ul>
          </b-notification>
        </section>
      </div>
    </b-modal>

    <b-modal
      :active.sync="displayOutliersModal"
      has-modal-card
      :width="800"
    >
      <div class="modal-card" style="width: 800px;">
        <header class="modal-card-head">
          <p class="modal-card-title">
            {{ $t('field-7') }}
          </p>
        </header>
        <section class="modal-card-body">
          <b-notification
            v-if="nCommutes - nValidCommutes > 0"
            :closable="false"
          >
            <span v-if="nCommutes - nValidCommutes > 1">
              {{ $t('info-1') }} <strong>{{ nCommutes - nValidCommutes }} {{ $t('info-2') }}</strong>
              {{ $t('info-3') }}
            </span>
            <span v-else>
              {{ $t('info-8') }}
            </span>
            <br />
            <span v-html="$t('info-4')"></span>
          </b-notification>
          <b-notification
            v-else-if="isAsymetric()"
            :closable="false"
          >
            <span v-html="$t('info-5')"></span> {{ asymetricCoefficient }}). {{ $t('info-6') }}
            <br />
            <span v-html="$t('info-4')"></span>
          </b-notification>
          <b-notification
            v-else
            :closable="false"
          >
            {{ $t('info-7') }} {{ asymetricCoefficient }}).
            <br />
            <span v-html="$t('info-4')"></span>
          </b-notification>
          <br />
          <div class="columns">
            <div class="column">
              <outliers-boxplot
                :data="allData"
              />
            </div>
            <div class="column">
              <outliers-boxplot
                :data="allData"
                :log="true"
              />
            </div>
          </div>
        </section>
      </div>
    </b-modal>
  </div>
</template>

<script>
import { outliersDetection } from '@/mixins/outliersDetection'
import { useAuthenticationStore } from '@/stores/authentication.js'
import { useGHGIStore } from '@/stores/ghgi.js'
import Modules from '@/models/Modules.js'

export default {
  name: 'StatisticsBox',
  mixins: [outliersDetection],
  setup () {
    const authStore = useAuthenticationStore()
    const ghgiStore = useGHGIStore()
    return { authStore, ghgiStore }
  },
  props: {
    isCommute: {
      type: Boolean,
      default: true
    }
  },
  components: {
    'outliers-boxplot': () => import('@/components/graphics/OutliersBoxPlot.vue')
  },
  data () {
    return {
      displayWarnings: false,
      displayOutliersModal: false,
      allData: [],
      warnings: []
    }
  },
  computed: {
    surveyActive: function () {
      return this.ghgiStore.item.surveyActive
    },
    isClonedSurvey: function () {
      return this.ghgiStore.isClonedSurvey
    },
    statusNotificationType: function () {
      let type = ''
      if (this.surveyActive) {
        type = 'is-info'
      } else if (this.isClonedSurvey) {
        type = 'is-info'
      }
      return type
    },
    commutes: function () {
      return this.ghgiStore.items(Modules.COMMUTES)
    },
    foods: function () {
      return this.ghgiStore.items(Modules.FOODS)
    },
    nValidCommutes: function () {
      return this.commutes.filter(obj => obj.isValid && !obj.deleted).length
    },
    cateringRate: function () {
      let nMeals = this.foods.map(obj => obj.nMeals).reduce((a, b) => (a + b), 0)
      let nCateringMeal = this.foods.map(obj => obj.nCateringMeal).reduce((a, b) => (a + b), 0)
      if (nMeals > 0) {
        return parseInt(nCateringMeal / nMeals * 100)
      } else {
        return 0
      }
    },
    nAnswers: function () {
      if (this.isCommute) {
        return this.nCommutes
      } else {
        return this.foods.length
      }
    },
    nCommutes: function () {
      return this.commutes.filter(obj => !obj.deleted).length
    },
    answerRate: function () {
      let nMember = this.ghgiStore.nMember
      return Math.round(this.nAnswers / nMember * 100)
    }
  },
  methods: {
    checkOutliers: function () {
      this.allData = []
      for (let commute of this.commutes) {
        if (!commute.deleted) {
          this.allData.push({
            'distance': commute.averageWeekDistance,
            'seqID': commute.seqID
          })
        }
      }
      this.detectOutliers(this.allData.map(obj => obj.distance))
      for (let commute of this.commutes) {
        if (!commute.deleted) {
          this.$set(
            commute,
            'isValid',
            !this.isOutlier(commute.averageWeekDistance)
          )
        }
      }
    },
    checkNbAnswers: function () {
      this.warnings = []
      let nAnswersITA = this.foods.filter(obj => obj.position === 'engineer').length
      if (this.isCommute) {
        nAnswersITA = this.commutes.filter(obj => obj.position === 'engineer' && !obj.deleted).length
      }
      let nAnswersDocs = this.foods.filter(obj => obj.position === 'student').length
      if (this.isCommute) {
        nAnswersDocs = this.commutes.filter(obj => obj.position === 'student' && !obj.deleted).length
      }
      let nAnswersChercheurs = this.foods.filter(obj => obj.position === 'researcher').length
      if (this.isCommute) {
        nAnswersChercheurs = this.commutes.filter(obj => obj.position === 'researcher' && !obj.deleted).length
      }
      if (nAnswersITA > this.ghgiStore.item.nEngineer) {
        this.warnings.unshift(this.$t('warning-msg-1'))
      }
      if (nAnswersDocs > this.ghgiStore.item.nStudent) {
        this.warnings.unshift(this.$t('warning-msg-2'))
      }
      if (nAnswersChercheurs > this.ghgiStore.item.nResearcher + this.ghgiStore.item.nProfessor) {
        this.warnings.unshift(this.$t('warning-msg-3'))
      }
    }
  },
  watch: {
    commutes: {
      handler () {
        this.checkOutliers()
        this.checkNbAnswers()
        if (this.commutes.length === 0) {
          this.$emit('is-valid', false)
          this.$emit('is-modified', false)
        }
      },
      deep: true
    },
    answerRate: function () {
      this.checkNbAnswers()
    }
  }
}
</script>

<style scoped>
  .notification.is-info {
    background-color: #3e8ed0 !important;
    color: #fff !important;
  }
  .notification.is-danger p.heading {
    color: #fff !important;
  }
  .notification.is-danger a.link {
    color: #fff !important;
    text-decoration: none !important;
  }
  .notification.is-danger a.link:hover {
    color: #fdbac7 !important;
  }
  .notification.is-danger.warning-box {
    background-color: #f14668 !important;
  }
</style>
