<i18n>
{
  "fr": {
    "title-creation": "Ajouter une action",
    "title-edition": "Éditer une action",
    "title-review": "Relire une action",
    "info-edit": "Éditer les champs de cette page pour modifier cette action",
    "info-creation": "Renseigner les champs de cette page pour décrire cette action",
    "info-review": "Voici l'action tel que renseignée par l'utilisateur, les champs ne sont pas éditables",
    "action-title": "Titre de l'action",
    "action-abandoned": "L'action a été abandonnée.",
    "action-text": "Description de l'action",
    "action-start": "Date de début",
    "action-ended": "L'action est terminée",
    "action-end": "Date de fin",
    "action-contact": "Email de contact",
    "action-contact-tooltip": "Vous pouvez saisir un email de contact spécifique à l'action. Laisser tel quel pour utiliser l'adresse de contact du laboratoire.",
    "info-abandoned": "Si l'action est abandonnée, merci de cocher cette case et d'indiquer quelques élèments dans la description de l'action",
    "upload-unhealthy": "Le téléversement est désactivé, si le problème persiste contactez nous",
    "action-tags": "Labels associés à l'action",
    "action-tags-tooltip": "Vous pouvez ajouter autant de labels que vous le souhaitez. Ces labels facilitent les recherches d'autres utilisateurs.",
    "quota": "Quota de fichiers",
    "label-files": "Fichiers joints",
    "help-label-files": "Vous pouvez joindre des fichiers si vous le jugez pertinent. Attention de ne pas dépasser votre quota.",
    "no-attachment": "Aucun fichier joint",
    "quota-exceeded": "Quota dépassé",
    "end-after-start": "La fin de l'action doit être postérieure à son début"
  },
  "en": {}
}
</i18n>

<template>
  <div>
    <div class="modal-card" style="width: 900px; height: auto">
      <form @submit.prevent="saveAction">
        <section class="modal-card-body">
          <b-notification :closable="false">
            <div class="columns">
              <div class="column is-6">
                <b-field
                  :label="$t('action-title')"
                  :type="{ 'is-danger': errors.has('title') }"
                  :message="errors.first('title')"
                >
                  <b-input
                    v-model="action.title"
                    required
                    expanded
                    icon="tags"
                    name="title"
                    :key="`title-${action.id}`"
                    v-validate="'required|min:10|max:100'"
                  ></b-input>
                </b-field>
              </div>
              <div class="column">
                <b-field
                  :label="$t('action-start')"
                  :type="{ 'is-danger': errors.has('actionStart') }"
                  :message="errors.first('actionStart')"
                >
                  <b-datepicker
                    v-model="action.start"
                    :placeholder="$t('action-start')"
                    icon="calendar"
                    name="actionStart"
                    v-validate="'required'"
                    :append-to-body="true"
                    editable
                    ref="afterTarget"
                  />
                </b-field>
              </div>
              <div class="column">
                <b-field
                  :label="$t('action-end')"
                  :type="{ 'is-danger': errors.has('actionEnd') }"
                  :message="
                    errors.first('actionEnd') ? $t('end-after-start') : ''
                  "
                >
                  <b-datepicker
                    v-model="action.end"
                    :placeholder="$t('action-end')"
                    v-validate="'after:afterTarget'"
                    name="actionEnd"
                    icon="calendar"
                    :append-to-body="true"
                    editable
                  />
                </b-field>
              </div>
            </div>
            <b-field>
              <b-switch v-model="action.abandoned">
                {{ $t('action-abandoned') }}
              </b-switch>
            </b-field>
          </b-notification>

          <b-notification :closable="false">
            <l-field
              :label="$t('action-contact')"
              :tooltip="$t('action-contact-tooltip')"
              :message="errors.first('contact')"
            >
              <b-input
                v-model="action.contact"
                expanded
                icon="tags"
                name="contact"
                :placeholder="action.displayContact()"
                :key="`contact-${action.id}`"
                v-validate="'email'"
              >
              </b-input>
            </l-field>
          </b-notification>

          <b-notification :closable="false">
            <l-field
              :label="$t('action-tags')"
              :tooltip="$t('action-tags-tooltip')"
            >
              <b-taginput
                ellipsis
                :allow-duplicate="false"
                v-model="action.tags"
                :data="filteredTags"
                autocomplete
                @typing="getFilteredTags"
                :allow-new="false"
                :open-on-focus="true"
                :icon="'caret-right'"
                :placeholder="$t('add')"
                ref="taginput"
              >
                <!-- suggested items -->
                <template slot-scope="props">
                  <action-tag
                    :tag="props.option"
                    :tooltipPosition="'is-right'"
                    :tooltipMultilined="true"
                  ></action-tag>
                </template>
                <!-- selected items -->
                <template #selected="props">
                  <action-tag
                    v-for="(tag, index) in props.tags"
                    :key="index"
                    :tag="tag"
                    closable
                    @close="$refs.taginput.removeTag(index, $event)"
                  >
                  </action-tag>
                </template>
              </b-taginput>
            </l-field>
          </b-notification>

          <b-notification :closable="false">
            <b-field
              :label="$t('action-text')"
              :type="{ 'is-danger': errors.has('content') }"
              :message="errors.first('content')"
            >
              <vue-editor
                :key="`content-${action.id}`"
                :editor-toolbar="toolbar"
                v-model="action.text"
                data-vv-name="content"
                v-validate="'required|min:25|max:10000'"
              />
            </b-field>
          </b-notification>

          <l-field
            :label="$t('label-files')"
            :tooltip="$t('help-label-files')"
            :type="{ 'is-danger': errors.has('action.files') }"
            :message="$t(errors.first('action.files'))"
          >
            <upload
              v-bind:dropFiles.sync="dropFiles"
              :quota="quota"
              :maxQuota="maxQuota"
              :withQuota="withQuota"
              data-vv-name="action.files"
              v-validate:dropFiles="`quota:${remainingQuota}`"
              @onDeleteActionFile="onDeleteActionFile"
            ></upload>
          </l-field>
        </section>

        <footer class="modal-card-foot buttons is-right">
          <nav class="level">
            <div class="level-left"></div>
            <div class="buttons level-right">
              <b-button
                class="button"
                icon-left="close"
                @click="$emit('onActionEditorCancel', action, dropFiles)"
              >
                {{ $t('cancel') }}
              </b-button>
              <button type="submit" active class="button is-primary">
                <span class="icon is-small"><i class="fa fa-plus"></i></span>
                <span v-if="action.id === null"> {{ $t('add') }} </span>
                <span v-else> {{ $t('update') }} </span>
              </button>
            </div>
          </nav>
        </footer>
      </form>
    </div>
  </div>
</template>

<script>
import { useCoreStore } from '@/stores/core.js'

import { Background } from '@/mixins/background.js'

import { VueEditor } from 'vue2-editor'

import { TAGS, USER_STATUSES } from '@/models/transition/transition.js'

export default {
  name: 'ActionEditor',
  props: {
    action: {
      type: Object,
      required: true
    },
    quota: {
      type: Number,
      required: true
    },
    maxQuota: {
      type: Number,
      required: true
    },
    withQuota: {
      type: Boolean,
      required: false,
      default: true
    }
  },
  components: {
    VueEditor,
    'action-tag': () => import('@/components/transition/ActionTag.vue'),
    upload: () => import('@/components/transition/Upload.vue'),
    'l-field': () => import('@/components/LField.vue')
  },
  $_veeValidate: {
    validator: 'new'
  },
  mixins: [Background],
  emit: [
    'is-valid',
    'is-modified',
    'onActionEditorSave',
    'onActionEditorCancel',
    'onDeleteActionFile'
  ],
  data: function () {
    return {
      // List of attached files
      files: this.action.files,
      // The list of possible tags
      // It's used to make suggestions on the corresponding tag inputs
      availableTags: TAGS,
      filteredTags: TAGS,
      // The list of Statused
      // It's used to make suggestions on the corresponding tag inputs
      statuses: USER_STATUSES,
      // whether we have to display the creation/update modal
      displayModal: false,
      // Used for vue2-editor in the creation/edition modal
      toolbar: [
        ['bold', 'italic', 'underline', 'strike'],
        [{ color: [] }, { background: [] }],
        [{ list: 'ordered' }, { list: 'bullet' }],
        [{ indent: '-1' }, { indent: '+1' }],
        ['blockquote', 'code-block'],
        // remove image as we're not ready store them in db
        ['link'],
        ['clean']
      ],
      // Display the files to attach
      displayFiles: false
    }
  },
  computed: {
    remainingQuota () {
      return this.maxQuota - (this.quota * this.maxQuota) / 100
    },
    mode () {
      if (this.action.id == null) {
        return 'creation'
      } else {
        return 'edition'
      }
    },
    modeTitle () {
      return `title-${this.mode}`
    },
    modeInfo () {
      return `info-${this.mode}`
    },
    disableUpload () {
      return this.maxQuota === 0
    },
    dropFiles: {
      get: function () {
        return this.files
      },
      set: function (newValue) {
        this.files = newValue
      }
    }
  },
  methods: {
    getFilteredTags (text) {
      // support autocompletion for several lang
      this.filteredTags = this.availableTags.filter((tag) => tag.match(text))
    },
    saveAction () {
      let arg = { action: this.action, files: this.dropFiles }
      this.validateBgUi(async () => this.$emit('onActionEditorSave', arg))
    },
    onDeleteActionFile (file) {
      this.$emit('onDeleteActionFile', file)
    }
  },
  setup () {
    const coreStore = useCoreStore()
    return { coreStore }
  },
  mounted () {}
}
</script>

<style>
.ql-toolbar,
.ql-container {
  background-color: #fff;
}
.clabel {
  color: #363636;
  font-size: 1rem;
  font-weight: 700;
  padding-right: 10px;
}
.tags .ctag {
  height: 3em;
}
.cnotification {
  padding: 0.5rem 2.5rem 0.5rem 1.5rem;
}
</style>
