<i18n>
{
  "fr": {
    "text": "Liste du matériel informatique acheté par le laboratoire au cours de l'année du bilan. Ce fichier doit contenir les colonnes comme présenté dans ce <A Class='Link' Href='/Static/Carbon/Devicestemplate.Tsv' Download> Fichier Exemple (tsv)</A> ou <a class='link' href='/static/carbon/devicesTemplate.csv' download> celui-la (csv)</a>. Le contenu du fichier est indiqué ci-après : ce sont les données à collecter.<br /><br /> <strong>Règle adoptée</strong> : ne compter que les achats professionnels financés sur crédits du labo. Cela implique que si votre unité héberge du matériel acheté (et donc inventorié) par une autre unité, ses émissions intégrées ne sont pas rattachées à votre unité. Et inversement, si votre unité a acheté du matériel informatique qui est hébergé dans une autre unité, alors les émissions intégrées des ces équipements doivent être imputées à votre unité.<br /><br /><strong>Liste des types d'équipements à considérer comme 'matériel informatique' : </strong>PC fixe, serveur, laptop, écrans, vidéo-projecteur, tablette, smartphone, imprimante, hub wifi, téléphone IP, disque dur, carte graphique, clavier, souris. <br /><br />Dans le détail, voici les infos nécessaires dans le fichier, avec une ligne par item :<ul style='list-style-type:square;margin-left:25px'><li><b>Type</b>, identifiant la catégorie de l'item parmi (avec entre parenthèses quelques alias autorisés) : PC fixe (Desktop, PC, fixe, tour, unité centrale, station de travail, workstation), PC portable (laptop, portable, notebook), Serveur, Écran (screen, display, monitor), Vidéo projecteur, Tablette (pad), Smartphone (mobile), Imprimante, Borne wifi (Wifi hub), Téléphone IP, GPU, Disque dur, Clavier, Souris.</li><li><b>Fabricant</b> : c'est à dire la marque de l'item, exemples : DELL, HP, Lenovo, ACER, Apple, etc.</li><li><b>Modèle</b> : permettant d'identifier plus précisément l'item, exemples : Latitude 5280, PowerEdge T640, Precision Tower 3630, etc.</li></ul>"
  },
  "en": {
    "text": "List of the digital devices purchased by the laboratory during the year of the GHG inventory. This file must contain the columns as presented  in this <a class='link' href='/static/carbon/devicesTemplate.tsv' download> sample file (tsv)</a> or <a class='link' href='/static/carbon/devicesTemplate.csv' download> this one (csv) </a>. The content of the file is indicated below: these are the data to be collected.<br /><br /> <strong>Rule adopted</strong> : enter only professional purchases that were piad for by the lab. This implies that if your unit houses material purchased (and therefore inventoried) by another unit, its embedded emissions are not attached to your unit. And conversely, if your unit has purchased digital devices that are housed in another unit, then the embedded emissions of these devices must be attributed to your unit. .<br /><br /><strong>List of types of equipment to be considered as 'digital devices' : </strong>Desktop, server, laptop, monitor , video projector, pad, smartphone, printer, wifi hub, IP telephone, hard drive,GPU,  keyboard, mouse. <br /><br />In detail, here is the information required in the file, with one row per item :<ul style='list-style-type:square;margin-left:25px'><li><b>Type</b>, corresponding to the category of the device among (with a few aliases allowed, between brackets) : Desktop (PC, main frame, workstation), Laptop (notebook), Server, Monitor (display, screen), Video projector, Pad, Smartphone, Printer, Wifi hub, IP telephone, GPU, Hard drive, Keyboard, Mouse.</li><li><b>Brand name</b> :  i.e. the brand name of the device, such as : DELL, HP, Lenovo, ACER, Apple, etc.</li><li><b>Model</b> : identifies the device more precisely ; examples : Latitude 5280, PowerEdge T640, Precision Tower 3630, etc.</li></ul>"
  }
}
</i18n>

<template>
  <div>
    <b-notification :closable="false">
        <span v-html="$t('text')" />
    </b-notification>
  </div>
</template>

<script>
export default {
  name: 'HelpData'
}
</script>
