<i18n>
  {
    "fr": {
      "info-1": "Par default les BGES listés dans le tableau sont chargés sans les données de consommation des différents module. Afin de charger les BGES avec leurs données de consommation pour lesquels les modules ont été soumis, vous pouvez sélectionner sur votre droite les modules d'interêts. Pour charger l'ensemble des BGES et leur données ne selectionnez aucun module. <br /> Les données des BGES chargés peuvent alors être téléchargées en sélectionnant le type de données que vous souhaitez.",
      "info-2": "Aucun BGES",
      "tooltip-1": "Désoumettre le module",
      "tooltip-2": "Charger le lien public du BGES",
      "tooltip-3": "Supprimer le BGES",
      "label-1": "#Bilans GES",
      "label-2": "Total (t eCO2)",
      "label-3": "Laboratoire",
      "label-4": "Référent",
      "label-5": "Effectifs",
      "label-6": "Soumission",
      "label-7": "BGES laboratoire",
      "label-8": "Charger les consommations",
      "label-9": "Exporter",
      "label-10": "BGES",
      "label-11": "Budget",
      "label-12": "Emission moyenne",
      "label-13": "Modules soumis",
      "label-14": "module(s) selectionné(s)",
      "label-15": "Années des BGES",
      "label-16": "année(s) selectionnée(s)",
      "message-1": "Désoumettre un BGES",
      "message-2": "Souhaitez vous désoumettre les données du module",
      "message-3": "du BGES",
      "message-4": "Suppression d'un BGES",
      "message-5": "Êtes vous sûr de vouloir supprimer le BGES ",
      "message-6": " du laboratoire "
    },
    "en": {
      "info-1": "By default, the GHGIs listed in the table are loaded without the consumption data of the different modules. In order to load the GHGIs with their consumption data for which the modules have been submitted, you can select the modules of interest on your right. To load all the GHGIs and their data, do not select any module. <br /> The loaded GHGIs data can then be downloaded by selecting the type of data you want.",
      "info-2": "No GHGI",
      "tooltip-1": "Unsubmit module",
      "tooltip-2": "Load the GHGI public link",
      "tooltip-3": "Delete the GHGI",
      "label-1": "#GHG inventories",
      "label-2": "Total (t CO2e)",
      "label-3": "Laboratory",
      "label-4": "Referent",
      "label-5": "Workforce",
      "label-6": "Submission",
      "label-7": "Laboratory GHGIs",
      "label-8": "Load consumption",
      "label-9": "Export",
      "label-10": "GHGIs",
      "label-11": "Budget",
      "label-12": "Average intensity",
      "label-13": "Submitted modules",
      "label-14": "selected module(s)",
      "label-15": "GHGIs years",
      "label-16": "selected year(s)",
      "message-1": "Unsubmit a GHGI",
      "message-2": "Are you sure you want to unsubmit the data of the",
      "message-3": "module of the GHGI",
      "message-4": "Deleting a GHGI",
      "message-5": "Are you sure that you want to delete the GHGI ",
      "message-6": " of the laboratory "
    }
  }
</i18n>

<template>
  <div>
    <div class="columns">
      <div class="column">
        <b-notification :closable="false">
          <span v-html="$t('info-1')" />
        </b-notification>
        <div class="columns">
          <div class="column">
            <b-notification :closable="false">
              <div class="level-item has-text-centered">
                <div>
                  <p>
                    {{ $t('label-1') }}
                  </p>
                  <div class="title is-size-4">
                    <p>
                      <span>{{ filteredGHGI.length }}</span>
                    </p>
                  </div>
                </div>
              </div>
            </b-notification>
          </div>
          <div class="column">
            <b-notification :closable="false">
              <div class="level-item has-text-centered">
                <div>
                  <p>
                    {{ $t('label-12') }}
                  </p>
                  <div class="title is-size-4">
                    <p>
                      <span>{{ averageIntensity | splitNumberTons }} {{ $t('t.co2e') }}</span>
                    </p>
                  </div>
                </div>
              </div>
            </b-notification>
          </div>
        </div>
      </div>
      <div class="column">
        <b-carousel
          :autoplay="false"
          indicator-style="is-lines"
          :indicator-inside="true"
        >
          <b-carousel-item>
            <ghgis-boxplot
              :ghgis="filteredGHGI"
              :modules="modules"
              :colors="colors"
            />
          </b-carousel-item>
          <b-carousel-item>
            <ghgis-timelines
              :ghgis="filteredGHGI"
            />
          </b-carousel-item>
        </b-carousel>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <b-notification :closable="false">
          <div class="columns">
            <div class="column">
              <b-field :label="$t('label-15')">
                <b-dropdown
                  v-model="yearFilter"
                  multiple
                  aria-role="list">
                  <template #trigger>
                    <b-button
                      icon-right="caret-down"
                    >
                      {{ yearFilter.length }} {{ $t('label-16') }}
                    </b-button>
                  </template>
                  <b-dropdown-item
                    v-for="(year, index) in allYears"
                    :key="index"
                    :value="year"
                    aria-role="listitem"
                  >
                    <span>
                      {{ year }}
                    </span>
                  </b-dropdown-item>
                </b-dropdown>
              </b-field>
            </div>
            <div class="column">
              <b-field :label="$t('label-13')">
                <b-dropdown
                  v-model="submittedFilter"
                  multiple
                  aria-role="list">
                  <template #trigger>
                    <b-button
                      icon-right="caret-down"
                    >
                      {{ submittedFilter.length }} {{ $t('label-14') }}
                    </b-button>
                  </template>
                  <b-dropdown-item
                    v-for="(module, index) in modules"
                    :key="index"
                    :value="module"
                    aria-role="listitem"
                  >
                    <b-icon :icon="getIcon(module)" /> {{ $t(module) }}
                  </b-dropdown-item>
                </b-dropdown>
              </b-field>
            </div>
          </div>
        </b-notification>
      </div>
      <div class="column is-3">
        <b-notification :closable="false">
          <b-dropdown
            :disabled="filteredGHGI.length === 0"
            v-model="cModule"
            aria-role="list"
            expanded
          >
            <template #trigger>
              <b-button
                :label="exportLabel"
                expanded
                icon-left="download"
                icon-right="caret-down"
              />
            </template>
            <b-dropdown-item
              v-for="(module, index) in dropdownModules"
              :key="index"
              :value="module"
              aria-role="listitem"
            >
              <div class="media">
                <b-icon class="media-left" :icon="module.icon"></b-icon>
                <div class="media-content">
                  <h3>{{ module.text }}</h3>
                </div>
              </div>
            </b-dropdown-item>
          </b-dropdown>
        </b-notification>
      </div>
    </div>
    <br />
    <b-table
      :data="filteredGHGI"
      :striped="true"
      :hoverable="true"
      :sort-icon="'angle-up'"
      paginated
      per-page="50"
      :default-sort="['year', 'workforce']"
      detailed
      detail-transition="fade"
    >
      <b-table-column field="year"
        sortable
        :label="$t('year')"
        numeric
        v-slot="props"
      >
        {{ props.row.year }}
      </b-table-column>
      <b-table-column
        field="laboratory.name"
        searchable
        sortable
        :label="$t('label-3')"
        centered
        v-slot="props"
      >
        <b-tooltip multilined :label="props.row.laboratory.name" type="is-black">
          {{ props.row.laboratory.name | truncate(15) }}
        </b-tooltip>
      </b-table-column>
      <b-table-column
        field="laboratory.referent.email"
        searchable
        sortable
        :label="$t('label-4')"
        centered
        v-slot="props"
      >
        <b-tooltip multilined :label="props.row.laboratory.referent.email" type="is-black">
          {{ props.row.laboratory.referent.email | truncate(20) }}
        </b-tooltip>
      </b-table-column>
      <b-table-column
        sortable
        :custom-sort="sortIntensity"
        :label="$t('label-2')"
        numeric
        v-slot="props"
      >
        {{ props.row.synthesis.intensity | splitNumberTons }}
      </b-table-column>
      <b-table-column
        field="budget"
        sortable
        :label="$t('label-11')"
        numeric
        v-slot="props"
      >
        {{ props.row.budget }}
      </b-table-column>
      <b-table-column
        field="workforce"
        sortable
        :label="$t('label-5')"
        numeric
        v-slot="props"
      >
        {{ props.row.workforce }}
      </b-table-column>
      <b-table-column
        centered
        :label="$t('label-6')"
        v-slot="props"
      >
        <div class="panel-block">
          <b-tooltip
            v-for="(module, index) in modules"
            :key="index"
            :label="$t('tooltip-1') + ' ' + $t(module)"
            type="is-black"
          >
            <b-button
              size="is-small"
              :icon-left="getIcon(module)"
              :disabled="!props.row.submitted[module]"
              :type="props.row.submitted[module] ? 'is-info' : ''"
              @click="unsubmitData(props.row, module)"
            />
          </b-tooltip>
        </div>
      </b-table-column>
      <b-table-column v-slot="props">
        <div class="panel-block">
          <b-tooltip
            :label="$t('tooltip-2')"
            type="is-black"
          >
            <b-button
              size="is-small"
              icon-left="external-link"
              @click="loadGHGILink(props.row)"
            />
          </b-tooltip>
          <b-tooltip
            :label="$t('tooltip-3')"
            type="is-black"
          >
            <b-button
              size="is-small"
              icon-left="trash"
              @click="deleteGHGI(props.row)"
            />
          </b-tooltip>
        </div>
      </b-table-column>
      <template #detail="props">
        <article class="media">
          <div class="media-content">
            <div class="content">
              <b-carousel
                v-model="carouselValue"
                :autoplay="false"
                indicator-style="is-lines"
                :indicator-inside="true"
              >
                <b-carousel-item>
                  <ghgi-pie
                    :height="250"
                    :enabledLabels="false"
                    :ghgi="props.row"
                    titleSize="14px"
                    :exporting="false"
                    :modules="modules"
                    :colors="colors"
                  />
                </b-carousel-item>
                <b-carousel-item>
                  <ghgi-bar
                    :height="250"
                    :enabledLabels="false"
                    :ghgi="props.row"
                    :exporting="false"
                    :modules="modules"
                    :colors="colors"
                  />
                </b-carousel-item>
              </b-carousel>
            </div>
          </div>
        </article>
      </template>
      <section slot="empty" class="section">
        <div class="content has-text-grey has-text-centered">
          <p>
            <i class="fa fa-ban" style="font-size: 64px;"></i>
          </p>
          <p>{{ $t('info-2') }}</p>
        </div>
      </section>
    </b-table>
  </div>
</template>

<script>
import { createExportFile } from '@/utils/files'
import Modules from '@/models/Modules.js'
import carbonService from '@/services/carbonService'
import GHGI from '@/models/carbon/GHGI.js'
import { useSuperadminStore } from '@/stores/superadmin.js'
import { useCoreStore } from '@/stores/core.js'

export default {
  name: 'GES1point5',
  components: {
    'ghgi-pie': () => import('@/components/graphics/GHGIPie.vue'),
    'ghgi-bar': () => import('@/components/graphics/GHGIBar.vue'),
    'ghgis-boxplot': () => import('@/components/graphics/GHGIsBoxPlot.vue'),
    'ghgis-timelines': () => import('@/components/graphics/GHGIsTimelines.vue')
  },
  data () {
    return {
      cModule: { icon: '', text: '' },
      submittedFilter: [],
      yearFilter: [new Date().getFullYear() - 1],
      error: ''
    }
  },
  setup () {
    const superadminStore = useSuperadminStore()
    const coreStore = useCoreStore()
    return { superadminStore, coreStore }
  },
  watch: {
    cModule: function () {
      if (this.cModule.name === 'GHGIs') {
        let content = GHGI.exportHeader()
        content += GHGI.exportToFile(
          this.filteredGHGI,
          false
        )
        createExportFile(content, this.cModule.name)
      } else {
        const loadingComponent = this.$buefy.loading.open({
          container: null
        })
        carbonService.getGHGIsConsumptions({
          ghgis: this.filteredGHGI.map(ghgi => ghgi.id),
          module: this.cModule.name
        })
          .then(ghgis => {
            loadingComponent.close()
            let content = 'ghgi.uuid\t' + Modules.getClasse(this.cModule.name).exportHeader()
            for (let ghgi of ghgis) {
              let cghgi = GHGI.createFromObj(ghgi)
              cghgi.compute(this.settings)
              content += Modules.getClasse(this.cModule.name).exportToFile(
                cghgi[this.cModule.name],
                false,
                ghgi.uuid
              )
            }
            createExportFile(content, this.cModule.name)
          })
          .catch(() => {
            loadingComponent.close()
          })
      }
    }
  },
  computed: {
    modules: function () {
      return this.coreStore.activeModules(true)
    },
    colors: function () {
      return this.coreStore.modulesColors
    },
    allGHGI: function () {
      return this.superadminStore.allGHGI
    },
    filteredGHGI: function () {
      return this.allGHGI.filter(ghgi => {
        return this.submittedFilter.every(module => ghgi.submitted[module]) && this.yearFilter.includes(ghgi.year)
      })
    },
    allYears: function () {
      return Array.from(new Set(this.allGHGI.map(ghgi => ghgi.year))).sort((a, b) => b - a)
    },
    averageIntensity: function () {
      let allIntensities = this.filteredGHGI.map(ghgi => ghgi.synthesis.intensity / ghgi.workforce)
      if (this.filteredGHGI.length > 0) {
        return allIntensities.reduce((sum, val) => {
          return sum + val
        }, 0) / this.filteredGHGI.length
      } else {
        return 0
      }
    },
    exportLabel: function () {
      return this.$t('label-9') + ' (' + this.filteredGHGI.length + ' ' + this.$t('label-10') + ')'
    },
    settings: function () {
      return this.coreStore.setting('commute')
    },
    dropdownModules: function () {
      let modules = [
        { icon: 'flask', text: this.$t('label-7'), name: 'GHGIs' }
      ]
      for (let module of this.coreStore.activeModules(false)) {
        modules.push({
          icon: this.getIcon(module),
          text: this.$t(module),
          name: module
        })
      }
      return modules
    }
  },
  methods: {
    loadGHGILink (ghgi) {
      let route = this.$router.resolve({ path: '/ges-1point5-results/' + ghgi.uuid })
      window.open(route.href, '_blank')
    },
    deleteGHGI (ghgi) {
      let self = this
      this.$buefy.dialog.confirm({
        title: self.$t('message-4'),
        message: self.$t('message-5') + '<strong>' + ghgi.year + '</strong>' + self.$t('message-6') + '<strong>' + ghgi.laboratory.name + '</strong> ?',
        confirmText: self.$t('validate'),
        cancelText: self.$t('cancel'),
        canCancel: ['escape', 'button', 'outside'],
        onConfirm: function () {
          const loadingComponent = self.$buefy.loading.open({
            container: null
          })
          self.superadminStore.deleteGHGI(ghgi.id)
            .then(data => {
              loadingComponent.close()
            })
            .catch(() => {
              loadingComponent.close()
            })
        }
      })
    },
    getIcon: function (module) {
      return Modules.getIcon(module)
    },
    sortStrToNum (a, b, isAsc) {
      if (isAsc) {
        return Number(a) - Number(b)
      } else {
        return Number(b) - Number(a)
      }
    },
    sortIntensity (a, b, isAsc) {
      return this.sortStrToNum(a.synthesis.intensity, b.synthesis.intensity, isAsc)
    },
    unsubmitData: function (ghgi, module) {
      let self = this
      this.$buefy.dialog.confirm({
        title: self.$t('message-1'),
        message: self.$t('message-2') + ' <strong>' + self.$t(module) + '</strong> ' + self.$t('message-3') + ' <strong>' + ghgi.year + '</strong>.',
        confirmText: self.$t('validate'),
        cancelText: self.$t('cancel'),
        canCancel: ['escape', 'button', 'outside'],
        onConfirm: function () {
          const loadingComponent = self.$buefy.loading.open({
            container: null
          })
          self.superadminStore.unsubmitData(ghgi, module)
            .then(data => {
              loadingComponent.close()
            })
            .catch(() => {
              loadingComponent.close()
            })
        }
      })
    }
  },
  mounted () {
    const loadingComponent = this.$buefy.loading.open({
      container: null
    })
    this.superadminStore.getAllGHGI()
      .then(data => {
        loadingComponent.close()
      })
      .catch(() => {
        loadingComponent.close()
      })
  }
}
</script>
