<i18n>
{
  "fr": {
    "title": "Configuration",
    "save-msg": "Les informations de configuration ont été sauvegardées avec <strong><span style='color:green;'>succès</span></strong>."
  },
  "en": {
    "title": "Settings",
    "save-msg": "The data relating to settings have been <strong><span style='color:green;'>successfully</span></strong>saved."
  }
}
</i18n>

<template>
  <div>
    <su-service :icon="'cog'">
      <template #title>
        {{ $t('title') }}
      </template>
    </su-service>
    <br />
    <b-notification
      v-for="(section,index) in coreStore.sections"
      :key="index"
      :closable="false"
    >
      <b-field
        v-for="setting in coreStore.settings.filter(obj => obj.section === section)"
        :key="setting.id"
        :label="setting.name"
      >
        <component
          v-if="isComponentInput(setting)"
          :is="setting.component"
          v-model="csettings[setting.id]"
          @input="updateSetting($event, setting.id)"
        />
        <b-input
          v-else
          :name="setting.name"
          v-model="csettings[setting.id]"
          @input="updateSetting($event, setting.id)"
        />
      </b-field>
    </b-notification>
    <br />
    <nav class="level">
      <div class="level-left"></div>
      <div class="buttons level-right">
        <b-button
          icon-left="save"
          type="is-primary"
          @click="valider()"
        >
          <span>{{ $t('save') }}</span>
        </b-button>
      </div>
    </nav>
  </div>
</template>

<script>
import Vue from 'vue'
import { useCoreStore } from '@/stores/core.js'

export default {
  // Commute MAX_DISTANCES
  // Commute TRAVELS_MODES
  // Travels PURPOSE
  // Travels STATUS
  // Travels MODE
  // Travels MODES_DEPLACEMENTS
  // Travels PURPOSE_DICTIONARY
  // Travels STATUS_DICTIONARY
  // Travels MODE_DICTIONARY
  // Travels ROUND_TRIP_DICTIONARY
  // api Tutelle > Administrations
  // api DomaineScientifique / DomaineDisciplinaire / SousDomaine
  // facteurs d'émissions
  name: 'SettingsEditor',
  components: {
    'su-service': () => import('@/components/SUService.vue')
  },
  data () {
    return {
      csettings: {}
    }
  },
  setup () {
    const coreStore = useCoreStore()
    return { coreStore }
  },
  methods: {
    isComponentInput: function (setting) {
      let isComponent = 'component' in setting
      if (isComponent) {
        isComponent = setting.component !== null
      }
      return isComponent
    },
    updateSetting: function (value, id) {
      this.csettings[id] = value
      this.coreStore.updateSettings({
        'id': id,
        'value': value
      })
    },
    valider: function () {
      const loadingComponent = this.$buefy.loading.open({
        container: null
      })
      this.coreStore.saveSettings()
        .then(settings => {
          window.scrollTo(0, 0)
          let self = this
          this.$buefy.toast.open({
            type: 'is-light',
            message: self.$t('save-msg')
          })
          loadingComponent.close()
        })
        .catch((erreur) => {
          // TODO
          loadingComponent.close()
        })
    }
  },
  mounted () {
    const loadingComponent = this.$buefy.loading.open({
      container: null
    })
    this.coreStore.getSettings()
      .then(settings => {
        this.csettings = {}
        for (let setting of settings) {
          this.csettings[setting.id] = setting.value
        }
        // load all input components
        for (let setting of settings) {
          if (this.isComponentInput(setting)) {
            Vue.component(
              setting.component,
              () => import('@/components/superadmin/settings/' + setting.component)
            )
          }
        }
        loadingComponent.close()
      })
      .catch((erreur) => {
        loadingComponent.close()
      })
  }
}
</script>
