<p>
Une nouvelle action vient d'être soumise
</p>

<p>
En tant que relecteur.rice sur la plateforme Transition 1point5,
vous pouvez relire cette action.

Si vous êtes connecté.e avec votre compte permettant la relecture vous 
pouvez accèder à l'action à l'adresse suivante:

<a href="https://{{ host }}/transition-1point5/reviewer/actions/{{ id }}">https://{{ host }}/transition-1point5/reviewer/actions/{{ id }}</a>

</p>

<p>
Sinon connectez-vous avec votre compte permettant la relecture et retrouver
cette action  dans la liste des actions à modérer.
</p>